<div id="main">
  <app-breadcrumb></app-breadcrumb>
  <section id="guide-detail" class="guide-detail two-cols">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1>Press and Media</h1>


          <div class="question-box border-box">
            <div class="question-title" style="background:#F2F2F2;">
              <div class="title title-smaller" style="padding-left:20px;">
                <h2>Inheritance rights of women: How to protect them and how succession laws vary</h2>
              </div>
            </div>
            <div class="question-body">
              <a target="_blank"
                href="https://economictimes.indiatimes.com/wealth/plan/inheritance-rights-of-women-how-to-protect-them-and-how-succession-laws-vary/articleshow/70407336.cms"><img
                  style="float:left; margin-right:10px; " src="assets/images/press/et.jpg" width="40%"
                  class="fullwidth1"></a>
              <p>Whether you are a wife, daughter or mother, find out what you are entitled to..<br />
                <span style="font-size:12px;">29-July-2019</span>
              </p>
              <p><a target="_blank"
                  href="https://economictimes.indiatimes.com/wealth/plan/inheritance-rights-of-women-how-to-protect-them-and-how-succession-laws-vary/articleshow/70407336.cms"
                  class="button button-default">Read More</a></p>
            </div>
          </div>
          <div class="question-box border-box">
            <div class="question-title" style="background:#F2F2F2;">
              <div class="title title-smaller" style="padding-left:20px;">
                <h2>Opinion | Nirbhaya Case: A Stir For Legal Reforms and Cry for Women's Rights and Autonomy</h2>
              </div>
            </div>
            <div class="question-body">
              <a target="_blank"
                href="https://www.news18.com/news/india/opinion-nirbhaya-case-a-stir-for-legal-reforms-and-cry-for-womens-rights-and-autonomy-1805617.html?ref=hp_top_pos_8"><img
                  style="float:left; margin-right:10px;" src="assets/images/press/news18-1.jpg" width="40%"
                  class="fullwidth1"></a>
              <p>An agitated country took to the streets to protest against Nirbhaya gangrape..<br />
                <span style="font-size:12px;">09-July-2018</span>
              </p>
              <p><a target="_blank"
                  href="https://www.news18.com/news/india/opinion-nirbhaya-case-a-stir-for-legal-reforms-and-cry-for-womens-rights-and-autonomy-1805617.html?ref=hp_top_pos_8"
                  class="button button-default">Read More</a></p>
            </div>
          </div>
          <div class="question-box border-box">
            <div class="question-title" style="background:#F2F2F2;">
              <div class="title title-smaller" style="padding-left:20px;">
                <h2>MY STARTUP IDEA: lawrato.com founder on his eureka moment</h2>
              </div>
            </div>
            <div class="question-body">
              <a target="_blank"
                href="https://timesofindia.indiatimes.com/people/my-startup-idea-lawrato-com-founder-on-his-eureka-moment/articleshow/64897744.cms"><img
                  style="float:left; margin-right:10px;" src="assets/images/press/toi.jpg" width="40%"
                  class="fullwidth1"></a>
              <p>"If healthcare is online, why not legal advice?" wonders Rohan Mahajan..<br />
                <span style="font-size:12px;">08-July-2018</span>
              </p>
              <p><a target="_blank"
                  href="https://timesofindia.indiatimes.com/people/my-startup-idea-lawrato-com-founder-on-his-eureka-moment/articleshow/64897744.cms"
                  class="button button-default">Read More</a></p>
            </div>
          </div>
          <div class="question-box border-box">
            <div class="question-title" style="background:#F2F2F2;">
              <div class="title title-smaller" style="padding-left:20px;">
                <h2>Essential apps for working women of today!</h2>
              </div>
            </div>
            <div class="question-body">
              <a target="_blank"
                href="https://www.business-standard.com/article/news-ani/essential-apps-for-working-women-of-today-118062300262_1.html"><img
                  style="float:left; margin-right:10px;" src="assets/images/press/bs-1.jpg" width="40%"
                  class="fullwidth1"></a>
              <p>Being a woman is itself is the challenging part whether you.. <br />
                <span style="font-size:12px;">23-June-2018</span>
              </p>
              <p><a target="_blank"
                  href="https://www.business-standard.com/article/news-ani/essential-apps-for-working-women-of-today-118062300262_1.html"
                  class="button button-default">Read More</a></p>
            </div>
          </div>
          <div class="question-box border-box">
            <div class="question-title" style="background:#F2F2F2;">
              <div class="title title-smaller" style="padding-left:20px;">
                <h2>Essential apps for working women of today!</h2>
              </div>
            </div>
            <div class="question-body">
              <a target="_blank"
                href="https://www.outlookindia.com/newsscroll/essential-apps-for-working-women-of-today/1335845"><img
                  style="float:left; margin-right:10px;" src="assets/images/press/outlook-1.jpg" width="40%"
                  class="fullwidth1"></a>
              <p>Being a woman is itself is the challenging part whether you.. <br />
                <span style="font-size:12px;">23-June-2018</span>
              </p>
              <p><a target="_blank"
                  href="https://www.outlookindia.com/newsscroll/essential-apps-for-working-women-of-today/1335845"
                  class="button button-default">Read More</a></p>
            </div>
          </div>
          <div class="question-box border-box">
            <div class="question-title" style="background:#F2F2F2;">
              <div class="title title-smaller" style="padding-left:20px;">
                <h2>Of Bar, bench and a career that is beyond compare</h2>
              </div>
            </div>
            <div class="question-body">
              <a target="_blank"
                href="https://timesofindia.indiatimes.com/city/chennai/of-bar-bench-a-career-that-is-beyond-compare/articleshow/64549027.cms?from=mdr"><img
                  style="float:left; margin-right:10px;" src="assets/images/press/toi.jpg" width="40%"
                  class="fullwidth1"></a>
              <p>Lawyer Rohan Mahajan got an unexpected call a few years back.. <br />
                <span style="font-size:12px;">12-June-2018</span>
              </p>
              <p><a target="_blank"
                  href="https://timesofindia.indiatimes.com/city/chennai/of-bar-bench-a-career-that-is-beyond-compare/articleshow/64549027.cms?from=mdr"
                  class="button button-default">Read More</a></p>
            </div>
          </div>
        





        </div>
          <br />
          <app-right-side-ad></app-right-side-ad>
        </div>
      
    </div>
  </section>
</div>