<div id="main">
 <app-breadcrumb></app-breadcrumb>

  <section id="guide-detail" class="guide-detail two-cols">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Contact Us</h1>
          <br />
        </div>
        <br />
        <div class="col-sm-8">
          <div class="content-left">
            <div class="block-card">
              <div class="advice-form custom-form">
                <p><strong>Have good words for us? Or Bad? Well, we love our critics as much as we love our
                    friends!<br />
                    <br />
                    Registered Office:</strong><br />
                  <span style="font-size:14px"><span
                      style="color:rgb(75, 79, 86); font-family:helvetica,arial,sans-serif">1101 Tower 8 Emaar Imperial Garden</span><br />
                      Sector 102, Gurugram, Haryana 
                    <br />
                    You can also email&nbsp;to us at <a mailto="legal@kanoonkibaatcom">legal&#64;kanoonkibaat.com</a>  &nbsp; or call us
                    at +91-9266363588 to share your thoughts with us.</span><br />
                  <br />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="position: -webkit-sticky; position: sticky; top: 100px;">
          <div class="content-right">
            <a href="../../legal-enquiry.html">
              <div class="block-card blue-bg hidden-xs" style="position: -webkit-sticky; position: sticky; top: 100px;">
                <div class="row">
                  <center>
                    <img width="165" height="165" src="/assets/img/media/lawyer/empty.png" alt="LawRato"
                      class="img-responsive">
                  </center>
                  <div class="solid text-left white-txt">
                    <b class="solid-title" style="color:#FFF !important;">Googling your legal issue
                      online?</b><br /><br />
                    <p class="lead" style="color:#FFF !important; font-size:16px;">The internet is not a lawyer and
                      neither are you.<br />Talk to a real lawyer about your legal issue.</p>
                    <div class="cta">
                      <button class="button button-default text-bold">FIND MY LAWYER NOW</button>
                    </div>
                  </div>
                </div>
              </div>
              <section class="list-result visible-xs" style="padding-bottom:0px;" style="cursor:pointer;">
                <br />
               <app-right-side-ad></app-right-side-ad>
              </section>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>