<div class="col-sm-4" style="position: -webkit-sticky; position: sticky; top: 100px;">
  <div class="content-right">
    <a href="/legal-enquiry">
      <div class="block-card blue-bg hidden-xs" style="position: -webkit-sticky; position: sticky; top: 100px;">
        <div class="row">
         
          <div class="text-center">
            <center>
            <img width="165" height="165" src="/assets/img/media/lawyer/empty.png" alt="KanoonKiBaat" class="img-responsive">
          </center>
          </div>
          
          <div class="solid text-left white-txt">
            <b class="solid-title" style="color:#FFF !important;">Googling your legal issue
              online?</b><br /><br />
            <p class="lead" style="color:#FFF !important; font-size:16px;">The internet is not a lawyer and
              neither are you.<br />Talk to a real lawyer about your legal issue.</p>
            <div class="cta">
              <button class="button button-default text-bold">FIND MY LAWYER NOW</button>
            </div>
          </div>
        </div>
      </div>
      <section class="list-result visible-xs" style="padding-bottom:0px;" style="cursor:pointer;">
        <br />
        <div class="block-card blue-bg" style="border-radius:10px;">
          <div class="solid text-left white-txt">
            <div class="row">
              <div class="col-xs-8">
                <b class="solid-title" style="color:#FFF;">Googling your legal issue online?</b><br /><br />
                <p class="lead">The internet is not a lawyer and neither are you.<br />Talk to a real lawyer
                  about your legal issue.</p>
                <div class="cta">
                  <button class="button button-default text-bold">TALK TO A LAWYER</button>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="img-wrapper text-right">
                  <img src="/assets/img/media/lawyer/empty.png" alt="LawRato" style="width:90px; height:90px;"
                    class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </a>
  </div>
</div>