  .select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle
  }

  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .select2-container .select2-selection--single .select2-selection__clear {
    position: relative
  }

  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px
  }

  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none
  }

  .select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .select2-container .select2-search--inline {
    float: left
  }

  .select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    padding: 0
  }

  .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
  }

  .select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051
  }

  .select2-results {
    display: block
  }

  .select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0
  }

  .select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none
  }

  .select2-results__option[aria-selected] {
    cursor: pointer
  }

  .select2-container--open .select2-dropdown {
    left: 0
  }

  .select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
  }

  .select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }

  .select2-search--dropdown {
    display: block;
    padding: 4px
  }

  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box
  }

  .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
    -webkit-appearance: none
  }

  .select2-search--dropdown.select2-search--hide {
    display: none
  }

  .select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0)
  }

  .select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important
  }

  .select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
  }

  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
  }

  .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
  }

  .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto
  }

  .select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default
  }

  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none
  }

  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
  }

  .select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text
  }

  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%
  }

  .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
    list-style: none
  }

  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left
  }

  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333
  }

  .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice,
  .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
  .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
    float: right
  }

  .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
  }

  .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
  }

  .select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid black 1px;
    outline: 0
  }

  .select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default
  }

  .select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none
  }

  .select2-container--default.select2-container--open.select2-container--above .select2-selection--single,
  .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }

  .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
  }

  .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa
  }

  .select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield
  }

  .select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
  }

  .select2-container--default .select2-results__option[role=group] {
    padding: 0
  }

  .select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999
  }

  .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd
  }

  .select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em
  }

  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0
  }

  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em
  }

  .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em
  }

  .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em
  }

  .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em
  }

  .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em
  }

  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white
  }

  .select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
  }

  .select2-container--classic .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: -o-linear-gradient(top, #fff 50%, #eee 100%);
    background-image: linear-gradient(to bottom, #fff 50%, #eee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
  }

  .select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb
  }

  .select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
  }

  .select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px
  }

  .select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999
  }

  .select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #ccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFCCCCCC', GradientType=0)
  }

  .select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0
  }

  .select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left
  }

  .select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto
  }

  .select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb
  }

  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none
  }

  .select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px
  }

  .select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: -o-linear-gradient(top, #fff 0%, #eee 50%);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE', GradientType=0)
  }

  .select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: -o-linear-gradient(top, #eee 50%, #fff 100%);
    background-image: linear-gradient(to bottom, #eee 50%, #fff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF', GradientType=0)
  }

  .select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0
  }

  .select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb
  }

  .select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px
  }

  .select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none
  }

  .select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px
  }

  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px
  }

  .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555
  }

  .select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right
  }

  .select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto
  }

  .select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto
  }

  .select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb
  }

  .select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0
  }

  .select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
  }

  .select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0
  }

  .select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0;
    box-shadow: none
  }

  .select2-container--classic .select2-dropdown {
    background-color: #fff;
    border: 1px solid transparent
  }

  .select2-container--classic .select2-dropdown--above {
    border-bottom: none
  }

  .select2-container--classic .select2-dropdown--below {
    border-top: none
  }

  .select2-container--classic .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto
  }

  .select2-container--classic .select2-results__option[role=group] {
    padding: 0
  }

  .select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey
  }

  .select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: #fff
  }

  .select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px
  }

  .select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb
  }

  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 0px !important;
    padding: 5px !important;
    border: 1px solid #cdcdcd;
    /* border: 1px solid #cec5c5; */
    /* width: 240px !important; */
  }

  .select-drop {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 0px !important;
    padding: 5px !important;
    color: #302e2e;
    border: 1px solid #cdcdcd;

  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #302e2e !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #302e2e transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 60%;
    width: 0;

  }


  .sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 100;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    margin-right: 20px;

  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: -6px;
    right: 3px;
    font-size: 15px;
    margin-left: 50px;
    color: black;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }

  .profile {
    margin: 00px 0;
  }

  /* Profile sidebar */
  .profile-sidebar {
    padding: 10px 0 10px 0;
    background: #fff;
    margin-right: 30px;
  }


  .profile-userbuttons {
    text-align: center;
    margin-top: 5px;
  }

  .profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
    background-color: #4285f4;
    border-color: #4285f4;
    border-radius: 0;
  }


  /* Profile Content */
  .profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
  }

  .bar::-webkit-scrollbar {
    width: 8px;
  }

  .bar::-webkit-scrollbar-thumb {
    background: grey;
  }

  .big {
    background: #F5F5F5;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid;
  }

  .big:hover {
    color: #070808;
  }

  .hli {
    color: #070808;
  }

  .modal-body {
    padding: 20px;
    height: calc(100vh - 260px);
    margin-bottom: 10px;
  }

  @media(max-device-width:480px) {
    h1 {
      font-size: 24px;
      font-weight: 400;
    }

    .content-left h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
    }

    .content-left h3 {
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
    }

    .content-left h4 {
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
    }
  }


  h1,
  h2,
  h3 {
    margin: 0;
  }

  .ebook-popup-sec {
    -webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    -moz-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.52);
    box-shadow: 0px 0px 1px 5000px rgba(0, 0, 0, 0.8);
    top: -20px !important;
  }

  .ebook-popup-sec {
    background: rgb(203, 228, 204);
    background: -moz-linear-gradient(top, rgba(203, 228, 204, 1) 0%, rgba(180, 212, 221, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(203, 228, 204, 1) 0%, rgba(180, 212, 221, 1) 100%);
    background: linear-gradient(to bottom, rgba(203, 228, 204, 1) 0%, rgba(180, 212, 221, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cbe4cc', endColorstr='#b4d4dd', GradientType=0);
    width: 521px;
    margin: 30px auto;
    padding: 0 45px 30px 45px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
  }

  .ebook-popup-sec h3 {
    margin: 0 0 2px 0;
    padding: 0;
    line-height: 22px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: 500;
  }

  .ebook-popup-sec h2 {
    margin: 0 0 12px 0;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
  }

  .ebook-popup-sec h5 {
    font-size: 14px;
    letter-spacing: 1px;
    color: #464646;
    font-family: 'Montserrat', sans-serif;
  }

  .ebook-popup-sec h5 span {
    text-decoration: underline;
  }

  .ebook-email-sec {
    margin: 0px;
    padding: 0px;
    width: 100%;
    float: left;
  }

  .ebook-popup-sec .ebookemail-input1,
  .ebook-popup-sec .ebookemail-input2 {
    width: 47%;
    border: none;
    margin-bottom: 30px;
    float: left;
    padding: 17px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    box-sizing: border-box;
  }

  .ebook-popup-sec .ebookemail-input2 {
    float: right;
  }

  .ebook-popup-sec .ebookemail-input1:focus,
  .ebook-popup-sec .ebookemail-input2:focus,
  .ebook-popup-sec .ebook-cls-btn,
  .ebook-popup-sec .ebook-input-btn {
    outline: none;
  }

  .ebook-popup-sec .ebook-input-btn {
    width: 100%;
    word-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 20px 16px;
    border-radius: 6px;
    float: right;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFF;
    box-sizing: border-box;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.27);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.27);
    background: rgb(29, 37, 98);
    background: -moz-linear-gradient(top, rgba(29, 37, 98, 1) 0%, rgba(16, 22, 73, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(29, 37, 98, 1) 0%, rgba(16, 22, 73, 1) 100%);
    background: linear-gradient(to bottom, rgba(29, 37, 98, 1) 0%, rgba(16, 22, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d2562', endColorstr='#101649', GradientType=0);
  }

  .ebook-popup-sec .ebook-input-btn:hover {
    background: #333333;
  }

  .ebook-popup-sec .ebook-cls-btn {
    font-size: 14px;
    line-height: 18px;
    width: 28px;
    height: 28px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FFF;
    position: absolute;
    right: -14px;
    top: -14px;
    border: 0px;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.27);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.27);
    cursor: pointer;
  }

  .ebook-popup-sec .ebook-cls-btn:hover {
    background: #141b51;
    color: #fff;
  }

  .ebook-popup-sec img {
    margin-top: -37px;
    padding-bottom: 30px;
  }

  .popup-graybox {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 99999;
    text-align: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    overflow: auto;
  }

  @media only screen and (max-width:815px) {
    .ebook-popup-sec {
      width: 80%;
    }

    .ebook-popup-sec h2 {
      font-size: 40px;
    }

    .ebook-popup-sec h3 {
      font-size: 16px;
      padding-bottom: 30px;
    }

    .ebook-popup-sec .ebookemail-input1,
    .ebook-popup-sec .ebookemail-input2 {
      margin-bottom: 22px;
      padding: 14px;
      font-size: 12px;
    }

    .ebook-popup-sec .ebook-input-btn {
      padding: 15px 16px;
      font-size: 12px;
    }
  }

  @media only screen and (max-width:675px) {
    .ebook-popup-sec .ebookemail-input {
      width: 60%;
    }

    .ebook-popup-sec h3 {
      padding: 0;
      padding-bottom: 20px;
      font-size: 14px;
    }

    .ebook-popup-sec h2 {
      font-size: 30px;
    }

    .ebook-popup-sec .ebookemail-input1,
    .ebook-popup-sec .ebookemail-input2 {
      margin-bottom: 15px;
    }
  }

  @media only screen and (max-width:480px) {
    .ebook-popup-sec {
      width: 90%;
    }

    .ebook-popup-sec .ebookemail-input {
      width: 100%;
      margin-bottom: 10px;
      padding: 12px;
    }

    .ebook-popup-sec .ebook-input-btn {
      width: 100%;
      padding: 13px 16px;
    }

    .ebook-popup-sec h3 {
      font-size: 16px;
      line-height: 20px;
    }

    .ebook-popup-sec h5 {
      letter-spacing: 0.5px;
    }

    .ebook-popup-sec h2 {
      font-size: 24px;
      margin: 0 0 10px 0;
    }

    .ebook-popup-sec {
      padding: 0 20px 10px 20px;
    }

    .ebook-popup-sec img {
      width: 22%;
      padding-bottom: 20px;
    }
  }

  @media only screen and (max-width:425px) {
    .ebook-popup-sec h3 {
      font-size: 16px;
    }

    .ebook-popup-sec h2 {
      font-size: 20px;
    }

    .ebook-popup-sec h5 {
      font-size: 16px;
    }

    .ebook-popup-sec .ebook-input-btn {
      width: 100%;
      padding: 12px 16px;
    }

    .ebook-popup-sec .ebookemail-input1,
    .ebook-popup-sec .ebookemail-input2 {
      width: 100%;
      margin-bottom: 8px;
      padding: 12px;
      text-align: center;
    }
  }
  :checked+label {
    color: #0077B5;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 14px;
  }

  .pulse {
    margin-left: 2px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #3bda3b;
    animation: pulse 2s infinite;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }

    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }

  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }

    70% {
      -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
