<header>
  <div class="search-container">
    <form autocomplete="off" action="https://kanoonkibaat.com/lawyers" method="get" name="home_search">
      <div class="input-group" id="sea" >
        <input type="text" name="q" id="search_home" class="form-control"
          onkeyup="if (!window.__cfRLUnblockHandlers) return false; autocomplet()" autofocus
          placeholder="Search by Lawyer / City / IPC Section etc.." data-cf-modified-05d0d2aae7ca0399330e2962->
        <span class="input-group-btn">
          <button class="button button-default" type="button" style="padding: 5px 10px;"
            onClick="if (!window.__cfRLUnblockHandlers) return false; document.forms.home_search.submit();"
            data-cf-modified-05d0d2aae7ca0399330e2962-><span class="icon_search"
              style="font-weight:bold; font-size:17px;"></span></button>
        </span>
      </div>
      <ul style="margin-left:0px; padding-left:0px;" class="results" id="country_list_id">
      </ul>
      <ul style="margin-left:0px; padding-left:0px; display:none;" class="results" id="resultsd">
        <li class="list-group-item"><a href="lawyers"><span style="margin-bottom:0px;">SUGGESTED
              SEARCHES</span></a></li>
        <li class="list-group-item"><a href="divorce-lawyers"><span>Find a <strong>Divorce &amp; Alimony</strong>
              Lawyer</span></a></li>
        <li class="list-group-item"><a href="property-lawyers"><span>Find a <strong>Property Dispute</strong>
              Lawyer</span></a></li>
        <li class="list-group-item"><a href="criminal-lawyers"><span>Find a <strong>Criminal Defence</strong>
              Lawyer</span></a></li>
        <li class="list-group-item"><a href="/indian-kanoon/law/ipc"><span>See <strong>IPC
                Sections</strong></span></a></li>
        <li class="list-group-item"><a href="ask-a-free-question"><span>Ask a <strong>Free
                Question</strong></span></a></li>
      </ul>
    </form>
  </div>
  <div class="top-bar border-bottom-default">
    <div class="container">
      <div class="row">
        <div class="col-sm-2" style="float:left;">
          <img src="assets/images/change_language.png" alt="KanoonKiBaat"
            style="height:20px; float:left; margin-top:10px;">
          <select name="langctrl" class="form-control"
            style="border-radius: 0;border:none;padding:0;background:#f6f6f6;width:auto;"
            onchange="if (!window.__cfRLUnblockHandlers) return false; if (this.value) window.location.href=this.value"
            data-cf-modified-05d0d2aae7ca0399330e2962->
            <option value hidden>Languages</option>
            <option value="https://hindi.kanoonkibaat.com/">Hindi</option>
            <option value="https://tamil.kanoonkibaat.com/">Tamil</option>
            <option value="https://bangla.kanoonkibaat.com/">Bangla</option>
            <option value="https://marathi.kanoonkibaat.com/">Marathi</option>
            <option value="https://kannada.kanoonkibaat.com/">Kannada</option>
            <option value="https://telugu.kanoonkibaat.com/">Telugu</option>
            <option value="https://malayalam.kanoonkibaat.com/">Malayalam</option>
          </select>
        </div>
        <div class="col-sm-10 text-right">
          <ul class="list-inline">
            <li><a href="/indian-kanoon">Indian Kanoon</a></li>
            <li><a href="/indian-kanoon/law/ipc">Indian Penal Code</a></li>
            <li><a href="ask-a-free-question">Ask a Free Question</a></li>
            <li><a href="free-legal-advice-phone">Talk To A Lawyer</a></li>
            <li><a href="free-legal-advice">Free legal advice</a></li>
            <li><a href="lawyer-signup">Lawyer Signup</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar yamm navbar-default border-bottom-default sticky-wrapper" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a href class="search-button search-button-mobile visible-xs"><span
            class="fa fa-search fa-flip-horizontal"></span></a>
        <a class="navbar-brand text-hide hidden-xs" href="/index"><img src="assets/img/logo.png"
            style="width:211px; height:58px;" alt="KanoonKiBaat" /></a>
        <a class="navbar-brand text-hide visible-xs" href="/index" style="margin-left:30px !important;"><img
            src="assets/img/logo-mobile.png" style="width:140px; height:24px;" alt="KanoonKiBaat" /></a>
      </div>
      <div class="collapse navbar-collapse" id="header-nav">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown yamm-fw">
            <a href="lawyers" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">FIND A LAWYER</a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Personal / Family</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="divorce-lawyers">Divorce</a></li>
                        <li><a href="family-lawyers">Family Dispute</a></li>
                        <li><a href="child-custody-lawyers">Child Custody</a></li>
                        <li><a href="muslim-law-lawyers">Muslim Law</a></li>
                        <li><a href="medical-negligence-lawyers">Medical Negligence</a></li>
                        <li><a href="motor-accident-lawyers">Motor Accident</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Criminal / Property</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="criminal-lawyers">Criminal</a></li>
                        <li><a href="property-lawyers">Property</a></li>
                        <li><a href="landlordtenant-lawyers">Landlord / Tenant</a></li>
                        <li><a href="cyber-crime-lawyers">Cyber Crime</a></li>
                        <li><a href="wills-trusts-lawyers">Wills / Trusts</a></li>
                        <li><a href="labour-service-lawyers">Labour & Service</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Civil / Debt Matters</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="documentation-lawyers">Documentation</a></li>
                        <li><a href="consumer-court-lawyers">Consumer Court</a></li>
                        <li><a href="civil-lawyers">Civil</a></li>
                        <li><a href="cheque-bounce-lawyers">Cheque Bounce</a></li>
                        <li><a href="recovery-lawyers">Recovery</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Corporate Law</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="arbitration-lawyers">Arbitration</a></li>
                        <li><a href="copyright-patent-trademark-lawyers">Trademark & Copyright</a></li>
                        <li><a href="customs-central-excise-lawyers">Customs & Central Excise</a></li>
                        <li><a href="startup-lawyers">Startup</a></li>
                        <li><a href="banking-finance-lawyers">Banking / Finance</a></li>
                        <li><a href="gst-lawyers">GST</a></li>
                        <li><a href="corporate-lawyers">Corporate</a></li>
                        <li><a href="tax-lawyers">Tax</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Others</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="armed-forces-tribunal-lawyers">Armed Forces Tribunal</a></li>
                        <li><a href="supreme-court-lawyers">Supreme Court</a></li>
                        <li><a href="insurance-lawyers">Insurance</a></li>
                        <li><a href="immigration-lawyers">Immigration</a></li>
                        <li><a href="international-law-lawyers">International Law</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Talk to a Lawyer</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li>
                          <p>Need help to find the right lawyer ?</p>
                          <a href="free-legal-advice-phone" class="button button-default">Start Here</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
            <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">LEGAL ADVICE</a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Answered Questions</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a routerLink="/question-list/39">Divorce Law Queries</a></li>
                        <li><a routerLink="/question-list/77">Property Law Queries</a></li>
                        <li><a routerLink="/question-list/33">Criminal Law Queries</a></li>
                        <li><a routerLink="/question-list/59">Labour & Service Law Queries</a></li>
                        <li><a routerLink="/question-list/25">Consumer Court Queries</a></li>
                        <li><a routerLink="/question-list/23">Civil Law Queries</a></li>
                        <li><a routerLink="/question-list/79">Recovery Law Queries</a></li>
                        <li><a routerLink="/question-list/41">Documentation Law Queries</a></li>
                        <li><a routerLink="/question-category" class="button button-default">All Answers</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Guides &amp; Articles</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a routerLink="/indian-kanoon/guides/divorce">Divorce Law Guides</a></li>
                        <li><a routerLink="/indian-kanoon/guides/criminal">Criminal Law Guides</a></li>
                        <li><a routerLink="/indian-kanoon/guides/property">Property Law Guides</a></li>
                        <li><a routerLink="/indian-kanoon/guides/consumer-court">Consumer Court Guides</a></li>
                        <li><a routerLink="/indian-kanoon//labour-and-service">Labour & Service Law Guides</a>
                        </li>
                        <li><a routerLink="/indian-kanoon/guides/medical-negligence">Medical Negligence Law
                            Guides</a></li>
                        <li><a routerLink="/indian-kanoon/guides/civil">Civil Law Guides</a></li>
                        <li><a routerLink="/indian-kanoon/guides/cheque-bounce">Cheque Bounce Law Guides</a></li>
                        <li><a routerLink="/indian-kanoon/guides" class="button button-default">All Guides</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">SC Judgements</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="/indian-kanoon/Judgements/property">Property</a></li>
                        <li><a href="/indian-kanoon/Judgements/divorce">Divorce</a></li>
                        <li><a href="/indian-kanoon/Judgements/civil">Civil</a></li>
                        <li><a href="/indian-kanoon/Judgements/criminal">Criminal</a></li>
                        <li><a href="/indian-kanoon/Judgements/banking-and-finance">Banking & Finance</a></li>
                        <li><a href="/indian-kanoon/Judgements/corporate">Corporate</a></li>
                        <li><a href="/indian-kanoon/Judgements/Labour-and-Service">Labour/Consumer</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Form & Agreements</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="/indian-kanoon/legal-documents/property">Property</a></li>
                        <li><a href="/indian-kanoon/legal-documents/divorce">Divorce</a></li>
                        <li><a href="/indian-kanoon/legal-documents/civil">Civil</a></li>
                        <li><a href="/indian-kanoon/legal-documents/criminal">Criminal</a></li>
                        <li><a href="/indian-kanoon/legal-documents/banking-and-finance">Banking & Finance</a></li>
                        <li><a href="/indian-kanoon/legal-documents/corporate">Corporate</a></li>
                        <li><a href="/indian-kanoon/legal-documents/Labour-and-Service">Labour/Consumer</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Other Resources</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="/indian-kanoon/law/ipc">Indian Penal Code (IPC)</a></li>
                        <li><a href="/indian-kanoon/law/crpc">Code of Criminal Procedure (CrPC)</a></li>
                        <li><a href="/indian-kanoon/law/cpc">Code of Civil Procedure (CPC)</a></li>
                        <li><a href="/indian-kanoon/law/hindu-marriage-act">Hindu Marriage Act (HMA)</a></li>
                        <li><a href="/indian-kanoon/law/income-tax-act">Income Tax Act</a></li>
                        <li><a href="/indian-kanoon/law/constitution-of-india">Constitution Of India</a></li>
                        <li><a href="/indian-kanoon/law/posh-act">POSH Act</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <span class="dropmenu-title">Get Legal Advice</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><span>Get expert legal advice from multiple lawyers within a few hours</span></li>
                        <li><a href="ask-a-free-question" class="button button-default">Ask a Free Question</a>
                        </li>
                        <li><a href="free-legal-advice" class="button button-default">Free legal advice</a></li>
                      </ul>
                      <br /><br />
                      <span class="dropmenu-title">Need Instant Advice</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="free-legal-advice-phone" class="button button-default">Talk to a lawyer</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
            <a href="/indian-kanoon/law/ipc" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">IPC SECTIONS</a>
            <ul class="dropdown-menu">
              <li>
                <div class="yamm-content">
                  <div class="row">
                    <div class="col-sm-3">
                      <span class="dropmenu-title">Popular IPC Sections</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="/indian-kanoon/law/ipc/section-497">Section 497 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-354">Section 354 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-34">Section 34 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-506">Section 506 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-304">Section 304 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc" class="button button-default">More IPC Sections</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <span class="dropmenu-title">Popular IPC Sections</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="/indian-kanoon/law/ipc/section-420">Section 420 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-302">Section 302 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-323">Section 323 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-406">Section 406 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-376">Section 376 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc" class="button button-default">More IPC Sections</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <span class="dropmenu-title">Popular IPC Sections</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="/indian-kanoon/law/ipc/section-144">Section 144 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-307">Section 307 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-375">Section 375 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-504">Section 504 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-279">Section 279 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc" class="button button-default">More IPC Sections</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3">
                      <span class="dropmenu-title">Popular IPC Sections</span>
                      <ul class="list-unstyled" style="margin-top:20px;">
                        <li><a href="/indian-kanoon/law/ipc/section-498a">Section 498a IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-120b">Section 120b IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-341">Section 341 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-100">Section 100 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc/section-300">Section 300 IPC</a></li>
                        <li><a href="/indian-kanoon/law/ipc" class="button button-default">More IPC Sections</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown yamm-normal">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">BNS SECTIONS</a>
            <ul class="dropdown-menu">
              <li><a href="/indian-kanoon/law/bns/bns-section-351">Section 351 BNS</a></li>
              <li><a href="/indian-kanoon/law/bns/bns-section-125">Section 125 BNS</a></li>
              <li><a href="/indian-kanoon/law/bns/bns-section-318">Section 318 BNS</a></li>
              <li><a href="/indian-kanoon/law/bns/bns-section-126">Section 126 BNS</a></li>
              <li><a href="/indian-kanoon/law/bns/bns-section-69">Section 69 BNS</a></li>
              <li><a href="/indian-kanoon/law/bns/bns-section-137">Section 137 BNS</a></li>
              <li><a href="/indian-kanoon/law/bns" class="button button-default">More BNS Sections</a></li>
            </ul>
          </li>
          <li class="dropdown yamm-normal">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">ABOUT</a>
            <ul class="dropdown-menu">
              <li><a routerLink="about">Why KanoonKiBaat?</a></li>
              <li><a routerLink="press">In the Media</a></li>
              <li><a routerLink="career">Careers</a></li>
              <li><a routerLink="contact">Contact Us</a></li>
              <li><a routerLink="register">Lawyer Signup</a></li>
            </ul>
          </li>
          <!-- <li><a href="/login">My Account</a></li> -->
          <li><a style="cursor: pointer;" (click)="logout()">Logout</a></li>
          <li class="hidden-xs"><a href class="search-button" style="color:#4B9142;"><span class="icon_search"></span>
              Search</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="popup-graybox" style="display:none;">
  <div class="ebook-popup-sec">
    <img loading="lazy" src="assets/images/pro.png" alt="KanoonKiBaat">
    <br />
    <span data-edit="text" style="font-size:20px;"><b>Get Expert Legal Advice</b></span>
    <br /><br />
    <div class="ebook-email-sec">
      <span style="font-size:16px;"><b>&#9989; 100% Confidentiality</b></span><br />
      <span style="font-size:16px;"><b>&#9989; Verified Lawyers&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span><br />
      <span style="font-size:16px;"><b>&nbsp;&nbsp;&#9989; Contact Immediately&nbsp;&nbsp;</b></span>
      <br /><br />
      <span style="font-size:16px;padding-bottom:0px;"><b>Share your legal issue to get connected with expert
          lawyers.</b></span>
      <div class="visible-xs">
        <a id="popup-click-mobile" href="legal-enquiry"
          style="background-color:#f2f2f2; border-radius:4px; padding:5px;  color:#333; font-weight:600; font-size:12px;">
          <img loading="lazy" src="assets/images/lawyers_online.png" style="width:50px; margin-top:18px;" /> 619+
          Lawyers are online <span class="pulse"></span></a>
      </div>
      <div class="hidden-xs">
        <a id="popup-click-desktop" href="legal-enquiry"
          style="background-color:#f2f2f2; border-radius:4px; padding:5px; color:#333; font-weight:600; font-size:12px;"><img
            loading="lazy" src="assets/images/lawyers_online.png" style="width:50px; margin-top:28px;" /> 619+ Lawyers
          are online<span class="pulse"></span></a>
      </div>
      <a href="legal-enquiry" class="ebook-input-btn" type="submit">FIND MY LAWYER NOW</a>
      <button class="ebook-cls-btn close-btn" id="closepop" data-dismiss="popup-graybox">X</button>
    </div>
  </div>
</section>
<div class="cover" style="right:10px"></div>
