

<div id="main">
  <app-breadcrumb></app-breadcrumb>
 
   <section id="guide-detail" class="guide-detail two-cols">
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
           <h1>SignUp</h1>
           <br />
         </div>
         <br />
         <div class="col-sm-8">
           <div class="content-left">
             <div class="block-card">
               <div class="advice-form custom-form">
                <section id="signup" class="signup-section">
                  <div class="container">
                    <h2>Join Us Today!</h2>
                    <p>Sign up now for exclusive updates and offers.</p>
                    <p>Become part of our community and access valuable resources.</p>
                    <p>Your journey to expert legal advice starts here!</p>
                    <form>
                      <input type="email" placeholder="Enter your email" required>
                      <button type="submit">Sign Up</button>
                    </form>
                  </div>
                </section>
               </div>
             </div>
           </div>
         </div>
         <div class="col-sm-4" style="position: -webkit-sticky; position: sticky; top: 100px;">
           <div class="content-right">
             <a href="../../legal-enquiry.html">
               <div class="block-card blue-bg hidden-xs" style="position: -webkit-sticky; position: sticky; top: 100px;">
                 <div class="row">
                   <center>
                     <img width="165" height="165" src="/assets/img/media/lawyer/empty.png" alt="LawRato"
                       class="img-responsive">
                   </center>
                   <div class="solid text-left white-txt">
                     <b class="solid-title" style="color:#FFF !important;">Googling your legal issue
                       online?</b><br /><br />
                     <p class="lead" style="color:#FFF !important; font-size:16px;">The internet is not a lawyer and
                       neither are you.<br />Talk to a real lawyer about your legal issue.</p>
                     <div class="cta">
                       <button class="button button-default text-bold">FIND MY LAWYER NOW</button>
                     </div>
                   </div>
                 </div>
               </div>
               <section class="list-result visible-xs" style="padding-bottom:0px;" style="cursor:pointer;">
                 <br />
                <app-right-side-ad></app-right-side-ad>
               </section>
             </a>
           </div>
         </div>
       </div>
     </div>
   </section>
 </div>