<section id="breadcrumb" class="breadcrumb-wrapper hidden-xs text-left">
  <div class="container">
    <ul class="list-inline">
      <li>
        <a href="https://lawrato.com/">Home</a>
      </li>
      <li> <a href="https://lawrato.com/lawyers/bangalore">Lawyers in Delhi / Karkarduma</a> </li>
      <li>Advocate Manish Gupta</li>
    </ul>
  </div>
</section>
<section id="lawyer-detail" class="lawyer-detail" style="margin-bottom:0px !important;">
  <div class="container">
    <div class="profile-info text-left">
      <div class="row hidden-xs">
        <div class="col-sm-2">
          <div class="profile-picture">
            <div class="img-wrapper">
              <img style="width:150px; height:190px;" title="Advocate Manish Gupta"
                src="assets/img/manish.jpg"
                alt="One of the best Advocates & Lawyers in Delhi / Karkarduma - Advocate Manish Gupta"
                class="img-responsive">
            </div>
            <div class="verified">Verified</div>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="clearfix">
            <div class="name">
              <h2 style="font-size:24px; margin-bottom:10px;"><b>Advocate Manish Gupta</b> </h2>
              <div class="rating">
                <span class="star-rating">
                  <img width="15" height="15" style="margin-right:5px;"
                    src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon-new.png" alt="LawRato"><img
                    width="15" height="15" style="margin-right:5px;"
                    src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon-new.png" alt="LawRato"><img
                    width="15" height="15" style="margin-right:5px;"
                    src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon-new.png" alt="LawRato"><img
                    width="15" height="15" style="margin-right:5px;"
                    src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon-new.png" alt="LawRato">
                </span>
                <span class="score">4.0</span> | <span class="score">2</span>+ user ratings
              </div>
            </div>
            <div class="cta text-right">
              <!--  <a href="#_bookconsult" class="button button-default">BOOK CONSULT</a> -->
              <a href="#lawyer-get-advice" class="button button-primary img-responsive-full">VIEW CONTACT NUMBER -
                9743****61</a>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-5">
              <div class="item-info">
                <span class="icon-holder"><img src="https://lawrato.com/assets/img/sprite/icon/map-marker-icon-new.png"
                    style="width:14px; height:13px;" alt="LawRato"></span>
                <span class="item-label">Location: </span>
                <span class="value">Koramangala Club, Delhi / Karkaduma</span>
              </div>
              <div class="item-info">
                <span class="icon-holder"><img src="https://lawrato.com/assets/img/sprite/icon/suitcase-icon-new.png"
                    style="width:14px; height:13px;" alt="LawRato"></span>
                <span class="item-label">Experience: </span>
                <span class="value">8 years</span>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="item-info">
                <span class="icon-holder"><img style="width:14px; height:13px;"
                    src="https://lawrato.com/assets/img/sprite/icon/lang-icon.png" alt="LawRato"></span>
                <span class="item-label">Languages: </span>
                <span class="value">English, Hindi</span>
              </div>
              <div class="item-info">
                <span class="icon-holder"><img style="width:14px; height:13px;"
                    src="https://lawrato.com/assets/img/sprite/icon/litigation-icon.png" alt="LawRato"></span>
                <span class="item-label">Practice areas: </span>
                <span>
                  Arbitration, Banking / Finance, Cheque Bounce, Consumer Court, Corporate, Documentation, Dowry Case,
                  Fraud Case, Labour & Service, Medical Negligence, Property, Recovery, Startup, Trademark & Copyright,
                  Wills / Trusts, Women </span>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>

      <div class="lawyer-item visible-xs" itemscope itemtype="https://schema.org/Attorney">
        <div class="row">
          <div class="col-sm-7">
            <div class="media">
              <div class="pull-left">
                <div class="img-wrapper">
                  <img class="media-object img-responsive" style="width:85px; height:113px;"
                    title="Advocate Manish - LawRato" itemprop="image"
                    src="assets/img/manish.jpg"
                    alt="One of the best Advocates & Lawyers in Bangalore / Bengaluru - Advocate Manish Gupta">
                </div>
              </div>
              <div class="media-body">
                <div class="small-info">
                  <h1 class="media-heading" itemprop="name"><b>Advocate Manish Gupta</b> </h1>
                  <div class="verified"><img src="https://lawrato.com/assets/img/sprite/icon/verified-icon-new.png"
                      style="width:14px; height:13px;" alt="LawRato"> Verified</div>
                  <div class="rating visible-xs margin-small-bottom" itemprop="aggregateRating" itemscope
                    itemtype="http://schema.org/AggregateRating">
                    <span class="star-rating" itemprop="ratingValue">
                      <img width="15" height="15" style="margin-right:5px;"
                        src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon-new.png"
                        alt="LawRato"><img width="15" height="15" style="margin-right:5px;"
                        src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon-new.png"
                        alt="LawRato"><img width="15" height="15" style="margin-right:5px;"
                        src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon-new.png"
                        alt="LawRato"><img width="15" height="15" style="margin-right:5px;"
                        src="https://lawrato.com/assets/img/sprite/icon/rating-star-full-icon-new.png" alt="LawRato">
                    </span>
                    <span class="score" itemprop="ratingValue">4.0</span> | <span class="score"
                      itemprop="ratingcount">2</span>+ user ratings
                  </div>
                  <div class="location" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress"><img
                      src="https://lawrato.com/assets/img/sprite/icon/map-marker-icon-new.png"
                      style="width:14px; height:13px;" alt="LawRato"><span itemprop="addressLocality">Koramangala Club,
                      Bangalore / Bengaluru</span></div>
                  <div class="experience"><img src="https://lawrato.com/assets/img/sprite/icon/suitcase-icon-new.png"
                      style="width:14px; height:13px;" alt="LawRato"><span>8 years Experience</span></div>
                </div>
              </div>
            </div>
            <div class="cta text-center margin-top">
              <div class="row">
                <!--  <div class="col-xs-6"><a href="#_bookconsult" class="button button-default button-full">BOOK CONSULT</a></div> -->
                <div class="col-xs-12">
                  <a href="https://lawrato.com/waconnect/advocate-shristi-jaiswal?lang=en"
                    title="Advocate Manish Gupta"><img style="width:200px;"
                      src="https://lawrato.com/assets/images/chat_on_whatsapp.png" alt="Advocate Manish Gupta" /></a>

                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-5 alpha hidden-xs">
            <div class="cta margin-small-top"><a href="" class="button button-primary button-small">VIEW PROFILE</a>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-info visible-xs">
        <div class="label-detail">Practice Areas</div>
        <div>
          Arbitration, Banking / Finance, Cheque Bounce, Consumer Court, Corporate, Documentation, Dowry Case, Fraud
          Case, Labour & Service, Medical Negligence, Property, Recovery, Startup, Trademark & Copyright, Wills /
          Trusts, Women</div>
      </div>
      <div class="mobile-info visible-xs">
        <div class="label-detail">About</div>
        <div>Language(s) Spoken: English, Hindi</div>
      </div>
      <div class="profile-summary">
        Advocate Manish has been practicing and handling cases independently with a result oriented approach,
        both professionally and ethically and has now acquired many years of professional experience in providing legal
        consultancy and advisory services.
      </div>
      <div class="visible-xs">
        <center> <a href="https://lawrato.com/waconnect/advocate-shristi-jaiswal?lang=en"
            title="Advocate Manish Gupta"><img style="width:200px;"
              src="https://lawrato.com/assets/images/chat_on_whatsapp.png" alt="Advocate Manish Gupta" /></a>
        </center>
        <br /><br />
      </div>
      <div class="mobile-info visible-xs">
        <div class="label-detail accordion">Specialization</div>
        <div class="panel1">
          Family Property Dispute<br />
          Transfer of Ancestral Property<br />
          Illegal Possession<br />
          Illegal Construction<br />
          Builder Delay / Fraud<br />
          Transfer of Ownership / Name Change<br />
          Gifting of Property<br />
          Municipal Corporation Issues<br />
          Succession of Property / Assets<br />
          Property Dispute / Partition<br />
          Wills / Trusts<br />
          Loaned Money Recovery<br />
          ATM / Credit Card Fraud<br />
          Bank issues<br />
          Non Payment of Dues<br />
          Reply / Send Legal Notice in Financial Case<br />
          Illegal Termination<br />
          Promotion / Pension Issues<br />
          Sexual Harrasment<br />
          Gratuity Issues<br />
          Refund Related Issue<br />
          Medical Negligence<br />
          Recovery of Dues<br />
          Breach of Contract<br />
          Contract Drafting / Review<br />
          Sexual Harassment at work<br />
          Trademark / Copyright / Patent<br />
          Venture Capital / Funding Related<br />
          Business / Trade License<br />
          Arbitration & Mediation<br />
          Mergers & Acquisitions<br />
          Property Issue<br />
          Cheque Bounce<br />
          Central Administrative Tribunal (CAT)<br />
          Complaint in NCLT / NCLAT<br />
          Business Compliances<br />
          Startup legal / advisory
        </div>
      </div>
      <div class="mobile-info visible-xs">
        <div class="label-detail accordion">Courts</div>
        <ul class="list-inline list-court panel1">
          <li>Arbitration Centre -Karnataka<br /></li>
          <li>Bangalore District Court<br /></li>
          <li>Karnataka Appellate Tribunal, Bangalore<br /></li>
          <li>Karnataka High Court<br /></li>
          <li>Karnataka State Consumer Dispute Redressal Commission, Bangalore
        </ul>
      </div>
      <div class="hidden-xs">
        <div class="label-detail col-xs-1" style="padding-left:0px;">Specialization: </div>
        <div class="col-xs-11">
          Family Property Dispute,
          Transfer of Ancestral Property,
          Illegal Possession,
          Illegal Construction,
          Builder Delay / Fraud,
          Transfer of Ownership / Name Change,
          Gifting of Property,
          Municipal Corporation Issues,
          Succession of Property / Assets,
          Property Dispute / Partition,
          Wills / Trusts,
          Loaned Money Recovery,
          ATM / Credit Card Fraud,
          Bank issues,
          Non Payment of Dues,
          Reply / Send Legal Notice in Financial Case,
          Illegal Termination,
          Promotion / Pension Issues,
          Sexual Harrasment,
          Gratuity Issues,
          Refund Related Issue,
          Medical Negligence,
          Recovery of Dues,
          Breach of Contract,
          Contract Drafting / Review,
          Sexual Harassment at work,
          Trademark / Copyright / Patent,
          Venture Capital / Funding Related,
          Business / Trade License,
          Arbitration & Mediation,
          Mergers & Acquisitions,
          Property Issue,
          Cheque Bounce,
          Central Administrative Tribunal (CAT),
          Complaint in NCLT / NCLAT,
          Business Compliances,
          Startup legal / advisory
        </div>
      </div>
      <p class="hidden-xs">&nbsp;</p>
      <div class="hidden-xs">
        <div class="label-detail col-xs-1" style="padding-left:0px;">Courts: </div>
        <div class="col-xs-11">
          Arbitration Centre -Karnataka,
          Bangalore District Court,
          Karnataka Appellate Tribunal Bangalore,
          Karnataka High Court,
          Karnataka State Consumer Dispute Redressal Commission Bangalore </div>
        <span id="lawyer-get-advice"></span>
        <p class="hidden-xs">&nbsp;</p>
      </div>
    </div>
  </div>
</section>