  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">


<div class="wrapper">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__wobble" src="assets/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div>
  <!-- Navbar -->
  <app-main-header></app-main-header>
  <!-- Right navbar links -->
  <!-- /.navbar -->
  <!-- Main Sidebar Container -->
  <app-main-sidebar></app-main-sidebar>
  <!-- Content Wrapper. Contains page content -->
  <!-- <app-content-wrapper></app-content-wrapper> -->
  <!-- /.content-wrapper -->
  <router-outlet></router-outlet>
  <!-- Control Sidebar -->
  <app-control-sidebar></app-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Main Footer -->
  <app-main-footer></app-main-footer>
</div>
<!-- ./wrapper -->

