<div id="home-hero" class="homepage-hero hidden-xs" style="background-color:#070808;">
  <div class="container">
    <div class="block-wrapper" style="position: relative !important;">
      <div class="text-center">
        <br /><Br />
        <h1 style="color:#FFF; text-align:center;">Expert Legal Advice at <br />No Charge from Premier Lawyers
        </h1>
        <p class="lead" style="color:#FFF; font-size:28px; margin-bottom:10px;">Access 3,000 lawyers available in more
          than 200 cities throughout India</p>
        <div class="cta-wrapper" style="margin-top:0px;">
          <a href="legal-enquiry.html" style="background-color:#f2f2f2; border-radius:4px; padding:5px;"
            id="home-desktop"><span style="color:#333; font-weight:600; font-size:12px;"><img
                src="assets/images/lawyers_online.png" style="width:50px; margin-top:-2px;" alt="KanoonKiBaat" /> 651+
              Lawyers are online <span class="pulse"></span></span></a><br /><br /><br />
          <a href="free-legal-advice-phone.html" class="button button-default button-large">Talk to a lawyer</a>
          <a href="ask-a-free-question.html" class="button button-primary button-large"
            style="background:#00000003; color:#FFF; border-color:#fff;">Ask a free question</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="home-hero" class="homepage-hero visible-xs" style="height:auto; background-color:#070808;">
  <div class="container">
    <div class="block-wrapper visible-xs" style="position: relative !important;">
      <div class="centered text-center">
        <br /><Br /><br />
        <h1 style="color:#FFF; font-size:26px; text-align:center;">Free Legal Advice Online<br />
          From Top Rated Lawyers</h1>
        <p class="lead" style="color:#FFF; font-size:22px; margin-bottom:10px;">Choose from over 10,000 lawyers across
          700+ cities in India</p>
        <div class="cta-wrapper" style="margin-top:0px;">
          <a href="legal-enquiry.html" id="home-mobile"
            style="background-color:#f2f2f2; border-radius:4px; padding:5px;"><span
              style="color:#333; font-weight:600; font-size:12px;"><img src="assets/images/lawyers_online.png"
                style="width:50px; margin-top:-2px;" alt="KanoonKiBaat" /> 651+ Lawyers are online <span
                class="pulse"></span></span></a><br /><br />
          <a href="free-legal-advice-phone.html" class="button button-default button-large" style="padding:10px;">Talk
            to a lawyer</a>
          <a href="ask-a-free-question.html" class="button button-primary button-large"
            style="padding:10px; background:#00000003; color:#FFF; border-color:#fff;">Ask a free question</a>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
<div id="main">
  <section id="home-top-rated" class="text-center top-rated lightgrey-bg" style="margin-bottom:0px;">
    <div class="container">
      <h2><a href="lawyers.html" style="text-decoration:none; color:#000;">Top-rated lawyers in India</a></h2>
      <div class="content-wrapper">
        <div class="carousel-top">
          <div class="card-wrapper text-left">
            <div class="category">Divorce</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'advocate-GG-ray.html';"
              style="cursor: pointer !important; background: #fff;" data-cf-modified-05d0d2aae7ca0399330e2962->
              <div class="media"> <span class="media-left"> <a href><img class="media-object"
                      style="width:85px; height:113px;" src="assets/img/adv_avtar.png"
                      title="Advocate GG  - KanoonKiBaat" alt="One of the best Advocates & Lawyers in
Delhi - Advocate Sudershani Ray"></a> </span> <span class="media-body">
                  <h4 class="media-heading"><a href="advocate-GG.html" title="Advocate GG">Advocate GG</a></h4>
                  <div class="rating"> <span class="star-rating">
                      <img style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-half-icon.png" alt="Kanoonkibaat"> </span> <span
                      class="score">
                      4.6 | 100+ user ratings</span> </div>
                  <div class="location"><img src="assets/img/sprite/icon/map-marker-icon.png"
                      alt="Kanoonkibaat"><span>Kailash Hills, Delhi</span></div>
                  <div class="experience"><img src="assets/img/sprite/icon/suitcase-icon.png"
                      alt="Kanoonkibaat"><span>
                      17 years Experience</span></div>
                </span> </div>
              PRACTICE AREAS: Divorce + 3 more
            </div>
            <div class="cta"><a href="divorce-lawyers.html"
                class="button button-default button-full button-light text-center">View more Divorce Lawyers</a>
            </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Family</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'advocate-GG-ray.html';"
              style="cursor: pointer !important; background: #fff;" data-cf-modified-05d0d2aae7ca0399330e2962->
              <div class="media"> <span class="media-left"> <a href><img class="media-object"
                      style="width:85px; height:113px;" src="assets/img/adv_avtar.png"
                      title="Advocate GG  - KanoonKiBaat" alt="One of the best Advocates & Lawyers in
Delhi - Advocate Sudershani Ray"></a> </span> <span class="media-body">
                  <h4 class="media-heading"><a href="advocate-GG.html" title="Advocate GG">Advocate GG</a></h4>
                  <div class="rating"> <span class="star-rating">
                      <img style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-half-icon.png" alt="Kanoonkibaat"> </span> <span
                      class="score">
                      4.6 | 100+ user ratings</span> </div>
                  <div class="location"><img src="assets/img/sprite/icon/map-marker-icon.png"
                      alt="Kanoonkibaat"><span>Kailash Hills, Delhi</span></div>
                  <div class="experience"><img src="assets/img/sprite/icon/suitcase-icon.png"
                      alt="Kanoonkibaat"><span>
                      17 years Experience</span></div>
                </span></div>
              PRACTICE AREAS: Family + 3 more
            </div>
            <div class="cta"><a href="family-lawyers.html"
                class="button button-default button-full button-light text-center">View more Family Lawyers</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Civil</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'advocate-GG-ray.html';"
              style="cursor: pointer !important; background: #fff;" data-cf-modified-05d0d2aae7ca0399330e2962->
              <div class="media"> <span class="media-left"> <a href><img class="media-object"
                      style="width:85px; height:113px;" src="assets/img/adv_avtar.png"
                      title="Advocate GG  - KanoonKiBaat" alt="One of the best Advocates & Lawyers in
Delhi - Advocate GG"></a> </span> <span class="media-body">
                  <h4 class="media-heading"><a href="advocate-GG.html" title="Advocate GG">Advocate GG</a></h4>
                  <div class="rating"> <span class="star-rating">
                      <img style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-half-icon.png" alt="Kanoonkibaat"> </span> <span
                      class="score">
                      4.6 | 100+ user ratings</span> </div>
                  <div class="location"><img src="assets/img/sprite/icon/map-marker-icon.png"
                      alt="Kanoonkibaat"><span>Kailash Hills, Delhi</span></div>
                  <div class="experience"><img src="assets/img/sprite/icon/suitcase-icon.png"
                      alt="Kanoonkibaat"><span>
                      17 years Experience</span></div>
                </span> </div>
              PRACTICE AREAS: Civil + 3 more
            </div>
            <div class="cta"><a href="civil-lawyers.html"
                class="button button-default button-full button-light text-center">View more Civil Lawyers</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Labour & Service</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'advocate-GG-ray.html';"
              style="cursor: pointer !important; background: #fff;" data-cf-modified-05d0d2aae7ca0399330e2962->
              <div class="media"> <span class="media-left"> <a href><img class="media-object"
                      style="width:85px; height:113px;" src="assets/img/adv_avtar.png"
                      title="Advocate GG  - KanoonKiBaat" alt="One of the best Advocates & Lawyers in
Delhi - Advocate Sudershani Ray"></a> </span> <span class="media-body">
                  <h4 class="media-heading"><a href="advocate-GG.html" title="Advocate GG">Advocate GG</a></h4>
                  <div class="rating"> <span class="star-rating">
                      <img style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-half-icon.png" alt="Kanoonkibaat"> </span> <span
                      class="score">
                      4.6 | 100+ user ratings</span> </div>
                  <div class="location"><img src="assets/img/sprite/icon/map-marker-icon.png"
                      alt="Kanoonkibaat"><span>Kailash Hills, Delhi</span></div>
                  <div class="experience"><img src="assets/img/sprite/icon/suitcase-icon.png"
                      alt="Kanoonkibaat"><span>
                      17 years Experience</span></div>
                </span> </div>
              PRACTICE AREAS: Labour & Service + 3 more
            </div>
            <div class="cta"><a href="labour-service-lawyers.html"
                class="button button-default button-full button-light text-center">View more Labour & Service
                Lawyers</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Lawyers in India</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'lawyers.html';"
              style="cursor: pointer !important; background: #fff; padding:10px;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br /><br />
                <h4><b>Find the right lawyer for your legal matter</b></h4>
                <br /><br />
                <p>Search from over 10,000 top rated lawyers available across 700+ cities in India</p>
              </center>
            </div>
            <div class="cta"><a href="lawyers.html"
                class="button button-default button-full button-light text-center">Find a Lawyer</a> </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </section>
  <section class="other-services  border-bottom-default" style="margin-bottom:0px;">
    <br /><br />
    <div class="container">
      <center>
        <h2 style="padding-bottom:0px;">How to get legal help through KanoonKiBaat?</h2>
      </center>
      <br />
      <div class="hidden-xs text-center">
        <img src="assets/images/lawrato-help-desktop.png" width="50%" alt="KanoonKiBaat" />
      </div>
      <div class="visible-xs text-center">
        <img src="assets/images/lawrato-help-mobile.png" width="100%" alt="KanoonKiBaat" />
      </div>
    </div>
    <br />
    <center>
      <a href="legal-enquiry.html" class="button button-primary" style="background: #070808;">Get Started</a>
    </center>
    <br />
  </section>
  <section class="text-center top-rated lightgrey-bg" style="margin-bottom: 0px;">
    <div class="container">
      <h2><a href="lawyers.html" style="text-decoration:none; color:#000;">Legal Services by Lawyers from
          KanoonKiBaat</a></h2>
      <div class="content-wrapper">
        <div class="carousel-top">
          <div class="card-wrapper text-left">
            <div class="category">Property Dispute</div>
            <div class="block-card match-height lightgrey-bg"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'property-dispute.html';"
              style="cursor: pointer !important; padding:10px; background: #fff;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br /><br />
                <h4><b>Resolve a property dispute case in India</b></h4>
                <br />
                <p style="font-weight: 500;">Get expert legal advice online with KanoonKiBaat for your property
                  dispute in India</p>
              </center>
            </div>
            <div class="cta"><a href="property-dispute.html"
                class="button button-default button-light button-full text-center">View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Criminal Complaint</div>
            <div class="block-card match-height lightgrey-bg"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'file-a-criminal-complaint.html';"
              style="cursor: pointer !important; padding:10px; background: #fff;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br /><br />
                <h4><b>File a criminal complaint in India</b></h4>
                <br /><br />
                <p style="font-weight: 500;">With KanoonKiBaat, you can easily understand the complex procedure of
                  filing a criminal complaint in India and choose from the best lawyers for your legal needs.</p>
              </center>
            </div>
            <div class="cta"><a href="file-a-criminal-complaint.html"
                class="button button-default button-light button-full text-center">View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Anticipatory Bail</div>
            <div class="block-card match-height lightgrey-bg"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'anticipatory-bail.html';"
              style="cursor: pointer !important; padding:10px; background: #fff;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br /><br />
                <h4><b>Anticipatory bail in India - How to get Anticipatory bail</b></h4>
                <br /><br />
                <p style="font-weight: 500;">Want to apply for anticipatory bail- Connect with KanoonKiBaat’s network
                  of competent lawyers</p>
              </center>
            </div>
            <div class="cta"><a href="anticipatory-bail.html"
                class="button button-default button-light button-full text-center">View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Sexual Harassment Complaint</div>
            <div class="block-card match-height lightgrey-bg"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'sexual-harassment-complaint.html';"
              style="cursor: pointer !important; padding:10px; background: #fff;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br />
                <h4><b>File a complaint against sexual harassment in India</b></h4>
                <br /><br />
                <p style="font-weight: 500;">Obtain quick legal advice online from KanoonKiBaat’s verified lawyers to
                  file a sexual harassment complaint or to defend yourself against false allegations made in violation
                  of IPC 354A</p>
              </center>
            </div>
            <div class="cta"><a href="sexual-harassment-complaint.html"
                class="button button-default button-light button-full text-center">View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Cruelty Against Woman</div>
            <div class="block-card match-height lightgrey-bg"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'cruelty-againt-woman.html';"
              style="cursor: pointer !important; padding:10px; background: #fff;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br />
                <h4><b>Steps to prove cruelty against women</b></h4>
                <br /><br />
                <p style="font-weight: 500;">File a domestic violence complaint or defend yourself in a false DV case
                  with legal help from KanoonKiBaat's network of experienced lawyers</p>
              </center>
            </div>
            <div class="cta"><a href="cruelty-againt-woman.html"
                class="button button-default button-light button-full text-center">View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Contested Divorce</div>
            <div class="block-card match-height lightgrey-bg"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'contested-divorce.html';"
              style="cursor: pointer !important; padding:10px; background: #fff;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br />
                <h4><b>One sided divorce and its process in India</b></h4>
                <br /><br />
                <p style="font-weight: 500;">Connect with a divorce lawyer at KanoonKiBaat to file a divorce petition
                  or obtain expert legal guidance on one-sided divorce.</p>
              </center>
            </div>
            <div class="cta"><a href="contested-divorce.html"
                class="button button-default button-light button-full text-center">View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Mutual Divorce</div>
            <div class="block-card match-height lightgrey-bg"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'mutual-divorce.html';"
              style="cursor: pointer !important; padding:10px; background: #fff;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br />
                <h4><b>Mutual divorce and its procedure in India</b></h4>
                <br /><br />
                <p style="font-weight: 500;">Find, choose and connect with a lawyer from KanoonKiBaat to file a mutual
                  divorce petition or obtain legal advice online on the same.</p>
              </center>
            </div>
            <div class="cta"><a href="mutual-divorce.html"
                class="button button-default button-light button-full text-center">View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Property Registration</div>
            <div class="block-card match-height lightgrey-bg"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'property-registration.html';"
              style="cursor: pointer !important; padding:10px; background: #fff;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br />
                <h4><b>Register a property in India</b></h4>
                <br /><br />
                <p style="font-weight: 500;">Understand the process of property registration, and get it done without
                  any hassle with the help of best property lawyers—all with KanoonKiBaat.</p>
              </center>
            </div>
            <div class="cta"><a href="property-registration.html"
                class="button button-default button-light button-full text-center">View Details</a> </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </section>
  <section id="home-legal-answers" class="text-center legal-answer after-section" style="margin-bottom:1px;">
    <div class="block-container border-top-default border-bottom-default">
      <div class="container">
        <div class="row">
          <br />
          <h2 style="padding-bottom:10px;padding-top:30px;">Latest Legal Answers</h2>
          <p style="font-size:16px;"><b>Over 1,40,000 questions answered by lawyers at KanoonKiBaat</b></p>
          <br /><br />
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-6">
                <div class="item-post">
                  <div class="item-heading">
                    <div class="item-icon"><img src="assets/img/sprite/symbol/question.png" alt="Kanoonkibaat"></div>
                    <div class="item-title"><a style="color:black;"
                        href="divorce-legal-advice/on-going-divorce-case-since-dec-2022-i-am-very-much-stressed-need-your-248733.html"
                        title="on-going-divorce-case-since-dec-2022-i-am-very-much-stressed-need-your">on going
                        divorce case since dec 2022 i am very much stressed...</a></div>
                  </div>
                  <div class="posted-by">Divorce Advice</div>
                  <div class="item-content"> i have filed a divorce petition in dec 2022, my wife appread to court for
                    2-3 times then in sep 2023... </div>
                  <a href="divorce-legal-advice/on-going-divorce-case-since-dec-2022-i-am-very-much-stressed-need-your-248733.html"
                    title="on-going-divorce-case-since-dec-2022-i-am-very-much-stressed-need-your"
                    class="more-link-new">Read more</a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="item-post">
                  <div class="item-heading">
                    <div class="item-icon"><img src="assets/img/sprite/symbol/question.png" alt="Kanoonkibaat"></div>
                    <div class="item-title"><a style="color:black;"
                        href="criminal-legal-advice/section-323-and-medical-report-248731.html"
                        title="section-323-and-medical-report">Section 323 And Medical report...</a></div>
                  </div>
                  <div class="posted-by">Criminal Advice</div>
                  <div class="item-content"> Is medical examination necessary for proving offence under Section 323
                    IPC ?If it doesn't is there a... </div>
                  <a href="criminal-legal-advice/section-323-and-medical-report-248731.html"
                    title="section-323-and-medical-report" class="more-link-new">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="cta-wrapper"> <a href="ask-a-free-question.html" class="button button-primary">ASK A FREE
                QUESTION</a> <a routerLink="question-category"  class="button button-default">SEE MORE ANSWERS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center find-lawyers" style="margin-bottom:0px; background:#303030;">
    <h2 style="color:#ccc;">Trending topics this week</h2>
    <div class="block-container">
      <div class="container">
        <ul style="list-style-type:none;">
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;"
              href="bharatiya-nyaya-sanhita.html" title="Bharatiya Nyaya Sanhita
">Bharatiya Nyaya Sanhita
            </a></li>
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;"
              href="indian-kanoon/civil-law/contempt-of-court-3105.html" title="Contempt of Court">Contempt of
              Court</a></li>
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;" href="free-legal-advice.html"
              title="Free Legal Advice">Free Legal Advice</a></li>
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;"
              href="civil-legal-advice/difference-between-indemnity-and-guarantee-238105.html"
              title="IPC 420 - Cheating and dishonestly">IPC 420 - Cheating and dishonestly</a></li>
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;"
              href="indian-kanoon/cheque-bounce-law/consequences-of-cheque-bounce-notice-3108.html" title="Cheque Bounce Case
">Cheque Bounce Case
            </a></li>
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;"
              href="indian-kanoon/civil-law/compoundable-and-non-compoundable-offences-3106.html" title="Compoundable and Non Compoundable Offences
">Compoundable and Non Compoundable Offences
            </a></li>
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;"
              href="indian-kanoon/divorce-law/how-to-file-for-divorce-step-by-step-procedure-1408.html"
              title="How to file for divorce?">How to file for divorce?</a></li>
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;"
              href="indian-kanoon/divorce-law/mutual-divorce-procedure-in-india-2024-3103.html"
              title="Mutual Divorce in India 2024">Mutual Divorce in India 2024</a></li>
          <li class="col-sm-4 arrow-list-fancy"><a style="font-size:14px; color:#ccc;"
              href="indian-kanoon/property-law/sons-and-daughters-rights-in-fathers-property-125.html"
              title="Sons and Daughters Rights in Father's Property">Sons and Daughters Rights in Father's
              Property</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section id="home-find-lawyers" class="text-center find-lawyers">
    <h2>Find Lawyers by</h2>
    <div class="block-container">
      <div class="container">
        <div class="find-lawyers-tab">

          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"> <a href="#city" aria-controls="city" role="tab"
                data-toggle="tab">City</a> </li>
            <li role="presentation"> <a href="#practice" aria-controls="practice" role="tab"
                data-toggle="tab">Practice</a> </li>
            <li role="presentation"> <a href="#court" aria-controls="court" role="tab" data-toggle="tab">Court</a>
            </li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="court" style="background:#f2f2f2;">
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers70b4.html?court=729"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Allahabad High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers9be2.html?court=257"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Bombay High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersb754.html?court=136"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Calcutta High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersfa1e.html?court=125"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Delhi High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers68fb.html?court=138"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Hyderabad High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersc012.html?court=679"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Madras High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersff43.html?court=233"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Punjab and
                        Haryana High Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersf872.html?court=640"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Rajasthan High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers35e3.html?court=124"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Supreme Court
                        Of India</a></li>
                  </ul>
                </div>
                <center><a style="margin-top:20px;" href="lawyers.html" class="button button-primary">Search in Other
                    Courts</a></center>
                <br />
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="city" style="background:#f2f2f2;">
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/bangalore.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Bangalore / Bengaluru</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/chandigarh.html"><span><img
                            src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Chandigarh</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/chennai.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Chennai</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/delhi.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Delhi</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/gurgaon.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Gurgaon / Gurugram</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/hyderabad.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Hyderabad</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/jaipur.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Jaipur</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/mumbai.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Mumbai</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/pune.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Pune</a></li>
                  </ul>
                </div>
                <center><a style="margin-top:20px;" href="lawyers.html" class="button button-primary">Search in Other
                    Cities</a></center>
                <br />
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="practice" style="background:#f2f2f2;">
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="cheque-bounce-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Cheque Bounce</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="civil-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Civil</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="consumer-court-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Consumer Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="corporate-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Corporate</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="criminal-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Criminal</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="cyber-crime-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Cyber Crime</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="divorce-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Divorce</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="family-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Family</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="property-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Property</a></li>
                  </ul>
                </div>
                <center><a style="margin-top:20px;" href="lawyers.html" class="button button-primary">Search in Other
                    Practice Areas</a></center>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="home-law-guides" class="text-center law-guides">
    <div class="block-container border-top-default border-bottom-default lightgrey-bg">
      <div class="container">
        <div class="row">
          <br /><br />
          <h2>Popular Law Guides</h2><br /><br />
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-6">
                <div class="item-post">
                  <div class="item-heading">
                    <div class="item-icon"><img src="assets/img/sprite/symbol/guide.png" alt="Kanoonkibaat"></div>
                    <div class="item-title"><a style="color:black;"
                        href="indian-kanoon/divorce-law/divorce-by-mutual-consent-in-india-130.html"
                        title="Divorce by Mutual Consent in India">Divorce by Mutual Consent in India</a></div>
                  </div>
                  <div class="posted-by">Divorce Law Guide</div>
                  <div class="item-content">Divorce by Mutual Consent or Mutual Divorce is when both husband and wife
                    mutually agree that they cannot live together anymore...</div>
                  <a href="indian-kanoon/divorce-law/divorce-by-mutual-consent-in-india-130.html"
                    title="Divorce by Mutual Consent in India" class="more-link-new">Read more</a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="item-post">
                  <div class="item-heading">
                    <div class="item-icon"><img src="assets/img/sprite/symbol/guide.png" alt="Kanoonkibaat"></div>
                    <div class="item-title"><a style="color:black;"
                        href="indian-kanoon/cheque-bounce-law/dos-donts-in-case-of-a-cheque-bounce-16.html"
                        title="Do's & Don'ts in case of a Cheque Bounce">Do's & Don'ts in case of a Cheque Bounce</a>
                    </div>
                  </div>
                  <div class="posted-by">Cheque Bounce Law Guide</div>
                  <div class="item-content">A Cheque is a bill of exchange drawn upon a specified banker and is
                    payable only on demand... </div>
                  <a href="indian-kanoon/cheque-bounce-law/dos-donts-in-case-of-a-cheque-bounce-16.html"
                    title="Do's & Don'ts in case of a Cheque Bounce" class="more-link-new">Read more</a>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="cta-wrapper"> <a href="indian-kanoon/law-guides.html" class="button button-primary">MORE
                    LAW GUIDES</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="home-featured" class="text-center featured-in after-section">
    <div class="container">
      <center>
        <h2>We are in News</h2>
        <div class="block-container" style="border:none !important; padding-bottom:0px;">
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47"
              class="img-responsive" src="assets/images/ndtv-logo.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47"
              class="img-responsive" src="assets/images/times.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47"
              class="img-responsive" src="assets/images/indian.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47"
              class="img-responsive" src="assets/images/hindu.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47"
              class="img-responsive" src="assets/images/business-today.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47"
              class="img-responsive" src="assets/images/amar-ujala.jpg" alt="Kanoonkibaat"></div>
        </div>
        <a style="margin-top:30px;" href="press-media.html" class="button button-primary">See All Media Coverage</a>
      </center>
    </div>
  </section>
  <section class="text-center common-testimonial lightgrey-bg" style="margin-bottom:0px;">
    <div class="container">
      <h2>Client Testimonials</h2>
      <div>
        <div class="rq-testimonial-owl-slider">
          <div class="rq-listing-gallery-post">
            <div class="rq-gallery-content">
              <div class="details-slider owl-carousel">
                <div class="item">
                  <p style="font-size:16px;">"Within minutes of posting my legal query on the online portal of
                    KanoonKiBaat, I got clear answers to my legal problem from top lawyers in the country. The replies
                    were quick, prompt and gave me a clear understanding of the law that surrounds my concerns. It is
                    nothing less than magic!"</p>
                  <p class="author"><a>Anuradha S</a></p>
                  <br /><br />
                </div>
                <div class="item">
                  <p style="font-size:16px;">"I connected with KanoonKiBaat to get in contact with a Supreme Court
                    lawyer for an urgent bail matter. The speed with which I was connected with my lawyer was
                    exceptional. Well done KanoonKiBaat!"</p>
                  <p class="author"><a>Ajay R</a></p>
                  <br /><br />
                </div>
                <div class="item">
                  <p style="font-size:16px;">"I am an NRI based in the US and before I even landed in India, I had
                    three lawyers to consult for my property case and it was only possible with the services provided
                    by KanoonKiBaat. Not only am I highly relieved but also assured of successful results with the
                    ranking provided by KanoonKiBaat."</p>
                  <p class="author"><a>Shweta N</a></p>
                  <br /><br />
                </div>
                <div class="item">
                  <p style="font-size:16px;">"Hiring a lawyer in Pune while sitting here in Delhi was an absolute
                    cakewalk- all thanks to the the extremely dedicated team of KanoonKiBaat who have been helping me
                    fight my divorce case in Pune. It has already been a highly satisfying experience."</p>
                  <p class="author"><a>Rahul A</a></p>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </section>
</div>
