<div id="home-hero" class="homepage-hero hidden-xs" style="background-color:#070808;">
  <div class="container">
    <div class="block-wrapper" style="position: relative !important;">
      <div class="row">
        <div class="col-sm-3">
          <!-- <i style="font-size: 400px; color:white;" class="fa fa-user-tie"></i> -->
          <img src="assets/img/main.png" style="height: 420px;" />
        </div>
        <div class="col-sm-9">
          <div class="text-center">

            <h1 style="color:#FFF; text-align:center;">Expert Legal Advice at No Cost <br />from Premier Lawyers
            </h1>
            <p class="lead" style="color:#FFF; font-size:28px; margin-bottom:10px;">Connect with 3,000 lawyers across
              200+ cities in India.</p>
            <div class="cta-wrapper" style="margin-top:0px;">
              <a href="legal-enquiry.html" style="background-color:#f2f2f2; border-radius:4px; padding:5px;"
                id="home-desktop"><span style="color:darkgreen; font-weight:600; font-size:12px;">
                  <i class="fa fa-signal" style="color:darkgreen"></i> 310+
                  Experts are online <span class="pulse"></span></span></a><br /><br /><br />
              <a (click)="openCallModal()" class="button button-default button-large"><i
                  class="fa fa-phone"></i>&nbsp;Talk to an Expert</a>
              <a (click)="openAskQuestionModal()" class="button button-primary button-large"
                style="background:#00000003; color:#FFF; border-color:#fff;"><i
                  class="far fa-comment-dots"></i>&nbsp;Ask a free question</a>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
<div id="home-hero" class="homepage-hero visible-xs" style="height:auto; background-color:#070808;">
  <div class="container">
    <div class="block-wrapper visible-xs" style="position: relative !important;">
      <div class="centered text-center">
        <br />
        <h1 style="color:#FFF; font-size:26px; text-align:center;">Expert Legal Advice at<br />
          No Cost from Premier Lawyers</h1>
        <p class="lead" style="color:#FFF; font-size:16px; margin-bottom:10px;">Connect with 3,000 lawyers across 200+
          cities in India.</p>
        <div class="cta-wrapper" style="margin-top:0px;">
          <a href="legal-enquiry.html" id="home-mobile"
            style="background-color:#f2f2f2; border-radius:4px; padding:5px;"><span
              style="color:darkgreen; font-weight:600; font-size:12px;"><i style="color:darkgreen"
                class="fa fa-signal"></i> 310+ Lawyers are online <span class="pulse"></span></span></a><br /><br />
          <a (click)="openCallModal()" class="button button-default button-large" style="padding:10px;"><i
              class="fa fa-phone"></i>&nbsp;Talk to an Expert</a>
          <a (click)="openAskQuestionModal()" class="button button-primary button-large"
            style="padding:10px; background:#00000003; color:#FFF; border-color:#fff;"><i
              class="far fa-comment-dots"></i>&nbsp;Ask a free question</a>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
<div id="main">

  <section class="text-center top-rated lightgrey-bg" style="margin-bottom: 0px;">
    <div class="container">
      <h2><i class="fas fa-briefcase"></i>&nbsp; Innovative Legal Solutions from KanoonKiBaat</h2>
      <div class="content-wrapper">
        <div class="carousel-top">
          <div class="card-wrapper text-left">
            <div class="block-card match-height lightgrey-bg"
              style="cursor: pointer !important; padding:30px; background: #fff;">
              <div class="category text-center">Register your company</div>
              <div class="text-center"><i style="font-size:50px; color: #851c1c;" class="fas fa-pen"></i></div><br />
              <div class="category text-center">Starting from ₹999/-</div>
              <br />
              <h4><b>Register your company in India</b></h4>
              <br />
              <ul class="list-unstyled">
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Private Limited company</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Limited Liability Partnership</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;One Person company</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Partnership Firm</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Sole Proprietorship</li>
              </ul>

            </div>
            <div (click)="openServiceEnquiryModal('property')" class="cta"><a
                class="button button-default button-light button-full text-center"><i style="color: #851c1c;"
                  class="fas fa-eye"></i>&nbsp; View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="block-card match-height lightgrey-bg"
              style="cursor: pointer !important; padding:30px; background: #fff;">
              <div class="category text-center">Licenses</div>
              <div class="text-center"><i style="font-size:50px; color: #851c1c;" class="fa fa-id-card"></i></div><br />
              <div class="category text-center">Starting from ₹999/-</div>
              <br />
              <h4><b>Get Licenses in India</b></h4>
              <br />
              <ul class="list-unstyled">
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;ISO Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;FSSAI Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;IEC Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;LIQUOR License Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;PSARA Registration</li>

              </ul>
            </div>
            <div (click)="openServiceEnquiryModal('Licenses')" class="cta"><a
                class="button button-default button-light button-full text-center"><i style="color: #851c1c;"
                  class="fas fa-eye"></i>&nbsp; View Details</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="block-card match-height lightgrey-bg"
              style="cursor: pointer !important; padding:30px; background: #fff;">
              <div class="category text-center">Protect your Intellectual Property</div>
              <div class="text-center"><i style="font-size:50px; color: #851c1c;" class="fas fa-shield-alt"></i></div>
              <br />
              <div class="category text-center">Starting from ₹1999/-</div>
              <br />
              <h4><b>Protect your Intellectual Property in India</b></h4>
              <br />
              <ul class="list-unstyled">
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Trademark Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Copyright Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Patent Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Trademark Objection</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Trademark Infringement</li>
              </ul>
            </div>
            <div (click)="openServiceEnquiryModal('Intellectual')" class="cta"><a
                class="button button-default button-light button-full text-center"><i style="color: #851c1c;"
                  class="fas fa-eye"></i>&nbsp; View Details</a> </div>
          </div>

          <div class="card-wrapper text-left">
            <div class="block-card match-height lightgrey-bg"
              style="cursor: pointer !important; padding:30px; background: #fff;">
              <div class="category text-center">File GST</div>
              <div class="text-center"><i style="font-size:50px; color: #851c1c;" class="fas fa-calculator"></i></div>
              <br />
              <div class="category text-center">Starting from ₹1999/-</div>
              <br />
              <h4><b>File GST in India</b></h4>
              <br />
              <ul class="list-unstyled">
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;GST Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;GST Filing</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;GST Cancellation and Revocation</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Reply to GST Notice</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Indirect Tax</li>
              </ul>
            </div>
            <div (click)="openServiceEnquiryModal('GST')" class="cta"><a
                class="button button-default button-light button-full text-center"><i style="color: #851c1c;"
                  class="fas fa-eye"></i>&nbsp; View Details</a> </div>
          </div>

          <div class="card-wrapper text-left">
            <div class="block-card match-height lightgrey-bg"
              style="cursor: pointer !important; padding:30px; background: #fff;">
              <div class="category text-center">Legal Documents</div>
              <div class="text-center"><i style="font-size:50px; color: #851c1c;" class="fas fa-calculator"></i></div>
              <br />
              <div class="category text-center">Starting from ₹999/-</div>
              <br />
              <h4><b>Legal Documents</b></h4>
              <br />
              <ul class="list-unstyled">
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Affidavits</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Agreements</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Marriage Registration</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Property Documents</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;FIR & Police Services</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Vehicle Documents</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Identity & Certificates</li>
                <li style="font-weight: bold;margin-bottom:10px"><i style="color: #851c1c;"
                    class="fa fa-angle-right"></i>&nbsp;Utility & Government Services</li>
              </ul>
            </div>
            <div (click)="openServiceEnquiryModal('Legal Documents')" class="cta"><a
                class="button button-default button-light button-full text-center"><i style="color: #851c1c;"
                  class="fas fa-eye"></i>&nbsp; View Details</a> </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
    <div class="content-wrapper">
      <div class="row">
        <div id="venue-amenities" class="col-lg-12 col-xs-12 colMb venue-amenities">
          <ul style="list-style-type: none;">

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Anticipatory Bail"
                (click)="openServiceEnquiryModal('Anticipatory Bail')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;" class="fa-gavel fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;font-weight: bold;">
                  Anticipatory Bail</p>
                <p style="text-align: justify; font-size: 12px;">Seek legal protection before arrest to prevent
                  unnecessary detention. Essential for those facing potential criminal charges.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Arbitration" (click)="openServiceEnquiryModal('Arbitration')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;"
                    class="fa-balance-scale fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Arbitration</p>
                <p style="text-align: justify; font-size: 12px;">Resolve disputes efficiently without lengthy court
                  battles. Arbitration helps parties reach a fair settlement through mutual.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Armed Forces Tribunal"
                (click)="openServiceEnquiryModal('Armed Forces Tribunal')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;"
                    class="fa-shield-alt fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Armed Forces Tribunal</p>
                <p style="text-align: justify; font-size: 12px;">Ensuring fair treatment and justice for military
                  personnel in service-related disputes. Seek redressal for grievances efficiently.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Banking and Finance"
                (click)="openServiceEnquiryModal('Banking and Finance')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;"
                    class="fa-university fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Banking and Finance</p>
                <p style="text-align: justify; font-size: 12px;">Navigate complex financial regulations, banking
                  disputes, and loan settlements with expert legal guidance.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Bankruptcy and Insolvency"
                (click)="openServiceEnquiryModal('Bankruptcy and Insolvency')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;"
                    class="fa-file-invoice-dollar fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Bankruptcy and Insolvency</p>
                <p style="text-align: justify; font-size: 12px;">Get expert legal support to manage financial distress,
                  liquidate assets, and recover from debt efficiently.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Breach of Contract"
                (click)="openServiceEnquiryModal('Breach of Contract')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;" class="fa-handshake fas"></i>
                </p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Breach of Contract</p>
                <p style="text-align: justify; font-size: 12px;">Protect your business agreements and take legal action
                  against unfair contract violations.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Cheque Bounce" (click)="openServiceEnquiryModal('Cheque Bounce')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;"
                    class="fa-credit-card fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Cheque Bounce</p>
                <p style="text-align: justify; font-size: 12px;">Recover lost funds legally when a cheque is dishonored.
                  Seek compensation and legal recourse.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Child Custody" (click)="openServiceEnquiryModal('Child Custody')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;" class="fa-child fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Child Custody</p>
                <p style="text-align: justify; font-size: 12px;">Secure the best interests of your child during custody
                  disputes with expert legal assistance.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Property" (click)="openServiceEnquiryModal('Property')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;" class="fa-home fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Property</p>
                <p style="text-align: justify; font-size: 12px;">Protect your property rights with expert legal
                  guidance, ensuring secure and hassle-free ownership.</p>
              </a>
            </li>

            <li class="col-sm-2 col-xs-6">
              <a style="font-size: 14px;" title="Divorce" (click)="openServiceEnquiryModal('Divorce')">
                <p style="text-align: center;"><i style="font-size: 44px; color: #851c1c;"
                    class="fa-heart-broken fas"></i></p>
                <p
                  style="text-align: center; white-space: nowrap; margin: 0!important; padding: 5px 0 10px!important;font-weight: bold;">
                  Divorce</p>
                <p style="text-align: justify; font-size: 12px;">Navigate your divorce with confidence—expert legal
                  support to protect your rights and secure your future.</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </section>

  <section class="other-services border-b border-gray-300 py-12">


    <div class="container">
      <h2 class="text-center mb-5"><i class="fas fa-exclamation-circle text-danger"></i> Stuck with a Legal Issue? Let
        KanoonKiBaat Help!</h2>

      <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
          <div class="card text-center p-4 shadow-lg">
            <div class="d-flex align-items-center justify-content-center rounded-circle bg-light mb-3"
              style="height: 64px;">
              <i class="fas  fa-3x text-dark">1</i>
            </div>
            <i class="fas fa-file-alt fa-3x mb-3 text-gray-700"></i>
            <h5 class="card-title mb-2" style="padding-top: 15px;">Describe Your Legal Issue</h5>
            <p class="card-text">Share your legal concern in simple words—no complicated forms!</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card text-center p-4 border-primary shadow-lg">
            <div class="d-flex align-items-center justify-content-center rounded-circle bg-light mb-3"
              style="height: 64px;">
              <i class="fas  fa-3x text-dark">2</i>
            </div>
            <i class="fas fa-user-tie fa-3x mb-3 text-primary"></i>
            <h5 class="card-title mb-2" style="padding-top: 15px;">Find the Right Lawyer</h5>
            <p class="card-text">Get connected to the right lawyer, tailored to your needs.</p>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card text-center p-4 border-success shadow-lg">
            <div class="d-flex align-items-center justify-content-center rounded-circle bg-light mb-3"
              style="height: 64px;">
              <i class="fas  fa-3x text-dark">3</i>
            </div>
            <i class="fas fa-comments fa-3x mb-3 text-success"></i>
            <h5 class="card-title mb-2" style="padding-top: 15px;">Get Advice & Take Action</h5>
            <p class="card-text">Receive expert guidance and move forward with confidence.</p>
          </div>
        </div>
      </div>
      <div class="text-center mt-4">

      </div>
    </div>


    <br />
  </section>


  <section id="home-top-rated" class="text-center top-rated lightgrey-bg" style="margin-bottom:0px;">
    <div class="container">
      <h2><a href="lawyers.html" style="text-decoration:none; color:#000;"><i class="fas fa-user-tie"></i> Top Legal
          Minds in India</a></h2>
      <div class="content-wrapper">
        <div class="carousel-top">
          <div class="card-wrapper text-left">
            <div class="category">Criminal</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'advocate-GG-ray.html';"
              style="cursor: pointer !important; background: #fff;" data-cf-modified-05d0d2aae7ca0399330e2962->
              <div class="media"> <span class="media-left"> <a href><img class="media-object"
                      style="width:85px; height:113px;" src="assets/img/manish.jpg"
                      title="Advocate Manish Gupta  - KanoonKiBaat" alt="One of the best Advocates & Lawyers in
Delhi - Advocate GG"></a> </span> <span class="media-body">
                  <h4 class="media-heading"><a href="advocate-GG.html" title="Advocate Manish Gupta">Advocate Manish
                      Gupta</a></h4>
                  <div class="rating"> <span class="star-rating">
                      <img style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-half-icon.png" alt="Kanoonkibaat"> </span> <span
                      class="score">
                      4.6 | 100+ user ratings</span> </div>
                  <div class="location"><img src="assets/img/sprite/icon/map-marker-icon.png"
                      alt="Kanoonkibaat"><span>Karkardooma, Delhi</span></div>
                  <div class="experience"><img src="assets/img/sprite/icon/suitcase-icon.png" alt="Kanoonkibaat"><span>
                      9 years Experience</span></div>
                </span> </div>
              PRACTICE AREAS: Criminal + 3 more
            </div>
            <div class="cta"><a href="civil-lawyers.html"
                class="button button-default button-full button-light text-center">View more Criminal Lawyers</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Divorce</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'advocate-GG-ray.html';"
              style="cursor: pointer !important; background: #fff;" data-cf-modified-05d0d2aae7ca0399330e2962->
              <div class="media"> <span class="media-left"> <a href><img class="media-object"
                      style="width:85px; height:113px;" src="assets/img/aa.jpg" title="Advocate Ravi  - KanoonKiBaat"
                      alt="One of the best Advocates & Lawyers in
Delhi - Advocate Advocate Ravi"></a> </span> <span class="media-body">
                  <h4 class="media-heading"><a href="advocate-GG.html" title="Advocate GG">Advocate Ravi</a></h4>
                  <div class="rating"> <span class="star-rating">
                      <img style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-half-icon.png" alt="Kanoonkibaat"> </span> <span
                      class="score">
                      4.6 | 100+ user ratings</span> </div>
                  <div class="location"><img src="assets/img/sprite/icon/map-marker-icon.png"
                      alt="Kanoonkibaat"><span>Karkardooma, Delhi</span></div>
                  <div class="experience"><img src="assets/img/sprite/icon/suitcase-icon.png" alt="Kanoonkibaat"><span>
                      1+ years Experience</span></div>
                </span> </div>
              PRACTICE AREAS: Divorce + 3 more
            </div>
            <div class="cta"><a href="divorce-lawyers.html"
                class="button button-default button-full button-light text-center">View more Divorce Lawyers</a>
            </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Family</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'advocate-GG-ray.html';"
              style="cursor: pointer !important; background: #fff;" data-cf-modified-05d0d2aae7ca0399330e2962->
              <div class="media"> <span class="media-left"> <a href><img class="media-object"
                      style="width:85px; height:113px;" src="assets/img/bb.jpg" title="Advocate GG  - KanoonKiBaat" alt="One of the best Advocates & Lawyers in
Delhi - Advocate Rajveer"></a> </span> <span class="media-body">
                  <h4 class="media-heading"><a href="advocate-GG.html" title="Advocate Rajveer">Advocate Rajveer</a>
                  </h4>
                  <div class="rating"> <span class="star-rating">
                      <img style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-half-icon.png" alt="Kanoonkibaat"> </span> <span
                      class="score">
                      4.6 | 100+ user ratings</span> </div>
                  <div class="location"><img src="assets/img/sprite/icon/map-marker-icon.png"
                      alt="Kanoonkibaat"><span>Karkardooma, Delhi</span></div>
                  <div class="experience"><img src="assets/img/sprite/icon/suitcase-icon.png" alt="Kanoonkibaat"><span>
                      1+ years Experience</span></div>
                </span></div>
              PRACTICE AREAS: Family + 3 more
            </div>
            <div class="cta"><a href="family-lawyers.html"
                class="button button-default button-full button-light text-center">View more Family Lawyers</a> </div>
          </div>

          <div class="card-wrapper text-left">
            <div class="category">Labour & Service</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'advocate-GG-ray.html';"
              style="cursor: pointer !important; background: #fff;" data-cf-modified-05d0d2aae7ca0399330e2962->
              <div class="media"> <span class="media-left"> <a href><img class="media-object"
                      style="width:85px; height:113px;" src="assets/img/adv_avtar.png"
                      title="Advocate GG  - KanoonKiBaat" alt="One of the best Advocates & Lawyers in
Delhi - Advocate Sudershani Ray"></a> </span> <span class="media-body">
                  <h4 class="media-heading"><a href="advocate-GG.html" title="Advocate GG">Advocate Gaurav</a></h4>
                  <div class="rating"> <span class="star-rating">
                      <img style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-full-icon.png" alt="Kanoonkibaat"><img
                        style="margin-right:5px; width:15px; height:15px;"
                        src="assets/img/sprite/icon/rating-star-half-icon.png" alt="Kanoonkibaat"> </span> <span
                      class="score">
                      4.6 | 100+ user ratings</span> </div>
                  <div class="location"><img src="assets/img/sprite/icon/map-marker-icon.png"
                      alt="Kanoonkibaat"><span>Kailash Hills, Delhi</span></div>
                  <div class="experience"><img src="assets/img/sprite/icon/suitcase-icon.png" alt="Kanoonkibaat"><span>
                      17 years Experience</span></div>
                </span> </div>
              PRACTICE AREAS: Labour & Service + 3 more
            </div>
            <div class="cta"><a href="labour-service-lawyers.html"
                class="button button-default button-full button-light text-center">View more Labour & Service
                Lawyers</a> </div>
          </div>
          <div class="card-wrapper text-left">
            <div class="category">Lawyers in India</div>
            <div class="block-card match-height"
              onclick="if (!window.__cfRLUnblockHandlers) return false; location.href = 'lawyers.html';"
              style="cursor: pointer !important; background: #fff; padding:10px;"
              data-cf-modified-05d0d2aae7ca0399330e2962->
              <center>
                <br /><br />
                <h4><b>Find the right lawyer for your legal matter</b></h4>
                <br /><br />
                <p>Search from over 10,000 top rated lawyers available across 700+ cities in India</p>
              </center>
            </div>
            <div class="cta"><a href="lawyers.html"
                class="button button-default button-full button-light text-center">Find a Lawyer</a> </div>
          </div>
        </div>
      </div>
      <br /><br />
    </div>
  </section>
  <!--section id="home-legal-answers" class="text-center legal-answer after-section" style="margin-bottom:1px;">
    <div class="block-container border-top-default border-bottom-default">
      <div class="container">
        <div class="row">
          <br />
          <h2 style="padding-bottom:10px;padding-top:30px;">Latest Legal Answers</h2>
          <p style="font-size:16px;"><b>Over 1,40,000 questions answered by lawyers at KanoonKiBaat</b></p>
          <br /><br />
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-6">
                <div class="item-post">
                  <div class="item-heading">
                    <div class="item-icon"><img src="assets/img/sprite/symbol/question.png" alt="Kanoonkibaat"></div>
                    <div class="item-title"><a style="color:black;"
                        href="divorce-legal-advice/on-going-divorce-case-since-dec-2022-i-am-very-much-stressed-need-your-248733.html"
                        title="on-going-divorce-case-since-dec-2022-i-am-very-much-stressed-need-your">on going
                        divorce case since dec 2022 i am very much stressed...</a></div>
                  </div>
                  <div class="posted-by">Divorce Advice</div>
                  <div class="item-content"> i have filed a divorce petition in dec 2022, my wife appread to court for
                    2-3 times then in sep 2023... </div>
                  <a href="divorce-legal-advice/on-going-divorce-case-since-dec-2022-i-am-very-much-stressed-need-your-248733.html"
                    title="on-going-divorce-case-since-dec-2022-i-am-very-much-stressed-need-your"
                    class="more-link-new">Read more</a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="item-post">
                  <div class="item-heading">
                    <div class="item-icon"><img src="assets/img/sprite/symbol/question.png" alt="Kanoonkibaat"></div>
                    <div class="item-title"><a style="color:black;"
                        href="criminal-legal-advice/section-323-and-medical-report-248731.html"
                        title="section-323-and-medical-report">Section 323 And Medical report...</a></div>
                  </div>
                  <div class="posted-by">Criminal Advice</div>
                  <div class="item-content"> Is medical examination necessary for proving offence under Section 323
                    IPC ?If it doesn't is there a... </div>
                  <a href="criminal-legal-advice/section-323-and-medical-report-248731.html"
                    title="section-323-and-medical-report" class="more-link-new">Read more</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="cta-wrapper"> <a href="ask-a-free-question.html" class="button button-primary">ASK A FREE
                QUESTION</a> <a routerLink="question-category" class="button button-default">SEE MORE ANSWERS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-->

  <section class="text-center top-rated lightgrey-bg" style="margin-bottom:0px; background:#303030;">
    <div class="container">
      <h2 style="color:#ccc;"><i class="fa fa-hashtag"></i>&nbsp;Trending topics this week</h2>
      <div class="content-wrapper">
        <div class="row">
          <div class="col-lg-12 col-xs-12 colMb venue-amenities">
            <ul style="list-style-type:none;">
              <li class="col-sm-2 col-xs-6" *ngFor="let category of categoriesListCount">
                <a style="font-size:14px;" [routerLink]="['/question-list', category.categoryId]"
                  title="{{ category.categoryName }}">
                  <p style="text-align: center;">
                    <i style="font-size: 44px;color: rgb(248, 242, 241); " class="{{ category.fontImage }}"></i>
                  </p>
                  <p
                    style="color:rgb(255, 252, 252)!important;text-align: center;white-space: nowrap;margin:0px 0px 0px 0px!important;padding:5px 0px 10px 0px!important">
                    {{ category.categoryName }}</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <br /><br />
      </div>
    </div>
  </section>


  <section id="home-find-lawyers" class="text-center find-lawyers">
    <h2><i class="fas fa-search-plus"></i>&nbsp; Find Legal Experts by</h2>
    <div class="block-container">
      <div class="container">
        <div class="find-lawyers-tab">

          <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"> <a href="#city" aria-controls="city" role="tab"
                data-toggle="tab">City</a> </li>
            <li role="presentation"> <a href="#practice" aria-controls="practice" role="tab"
                data-toggle="tab">Practice</a> </li>
            <li role="presentation"> <a href="#court" aria-controls="court" role="tab" data-toggle="tab">Court</a>
            </li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="court" style="background:#f2f2f2;">
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers70b4.html?court=729"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Allahabad High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers9be2.html?court=257"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Bombay High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersb754.html?court=136"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Calcutta High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersfa1e.html?court=125"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Delhi High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers68fb.html?court=138"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Hyderabad High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersc012.html?court=679"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Madras High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersff43.html?court=233"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Punjab and
                        Haryana High Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyersf872.html?court=640"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Rajasthan High
                        Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers35e3.html?court=124"><span><img
                            src="assets/img/sprite/icon/court-small-icon.png" alt="Kanoonkibaat"></span>Supreme Court
                        Of India</a></li>
                  </ul>
                </div>
                <center><a style="margin-top:20px;" href="lawyers.html" class="button button-primary">Search in Other
                    Courts</a></center>
                <br />
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in active" id="city" style="background:#f2f2f2;">
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/bangalore.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Bangalore / Bengaluru</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/chandigarh.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Chandigarh</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/chennai.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Chennai</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/delhi.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Delhi</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/gurgaon.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Gurgaon / Gurugram</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/hyderabad.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Hyderabad</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/jaipur.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Jaipur</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/mumbai.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Mumbai</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="lawyers/pune.html"><span><img src="assets/img/sprite/icon/marker-small-icon.png"
                            alt="Kanoonkibaat"></span>Pune</a></li>
                  </ul>
                </div>
                <center><a style="margin-top:20px;" href="lawyers.html" class="button button-primary">Search in Other
                    Cities</a></center>
                <br />
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="practice" style="background:#f2f2f2;">
              <div class="row">
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="cheque-bounce-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Cheque Bounce</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="civil-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Civil</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="consumer-court-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Consumer Court</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="corporate-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Corporate</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="criminal-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Criminal</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="cyber-crime-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Cyber Crime</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="divorce-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Divorce</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="family-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Family</a></li>
                  </ul>
                </div>
                <div class="col-sm-4 col-xs-6">
                  <ul class="list-unstyled">
                    <li><a href="property-lawyers.html"><span><img src="assets/img/lit.png"
                            alt="Kanoonkibaat"></span>Property</a></li>
                  </ul>
                </div>
                <center><a style="margin-top:20px;" href="lawyers.html" class="button button-primary">Search in Other
                    Practice Areas</a></center>
                <br />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--section id="home-law-guides" class="text-center law-guides">
    <div class="block-container border-top-default border-bottom-default lightgrey-bg">
      <div class="container">
        <div class="row">
          <br /><br />
          <h2><i class="fas fa-book-open"></i>&nbsp;Trending Legal Guides</h2><br /><br />
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-6">
                <div class="item-post">
                  <div class="item-heading">
                    <div class="item-icon"><img src="assets/img/sprite/symbol/guide.png" alt="Kanoonkibaat"></div>
                    <div class="item-title"><a style="color:black;"
                        href="indian-kanoon/divorce-law/divorce-by-mutual-consent-in-india-130.html"
                        title="Divorce by Mutual Consent in India">Divorce by Mutual Consent in India</a></div>
                  </div>
                  <div class="posted-by">Divorce Law Guide</div>
                  <div class="item-content">Divorce by Mutual Consent or Mutual Divorce is when both husband and wife
                    mutually agree that they cannot live together anymore...</div>
                  <a href="indian-kanoon/divorce-law/divorce-by-mutual-consent-in-india-130.html"
                    title="Divorce by Mutual Consent in India" class="more-link-new">Read more</a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="item-post">
                  <div class="item-heading">
                    <div class="item-icon"><img src="assets/img/sprite/symbol/guide.png" alt="Kanoonkibaat"></div>
                    <div class="item-title"><a style="color:black;"
                        href="indian-kanoon/cheque-bounce-law/dos-donts-in-case-of-a-cheque-bounce-16.html"
                        title="Do's & Don'ts in case of a Cheque Bounce">Do's & Don'ts in case of a Cheque Bounce</a>
                    </div>
                  </div>
                  <div class="posted-by">Cheque Bounce Law Guide</div>
                  <div class="item-content">A Cheque is a bill of exchange drawn upon a specified banker and is
                    payable only on demand... </div>
                  <a href="indian-kanoon/cheque-bounce-law/dos-donts-in-case-of-a-cheque-bounce-16.html"
                    title="Do's & Don'ts in case of a Cheque Bounce" class="more-link-new">Read more</a>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="cta-wrapper"> <a href="indian-kanoon/law-guides.html" class="button button-primary">MORE
                    LAW GUIDES</a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section-->
  <section id="home-featured" class="text-center featured-in after-section">
    <div class="container">
      <center>
        <h2><i class="fas fa-newspaper"></i>&nbsp;Our Presence in the News</h2>
        <div class="block-container" style="border:none !important; padding-bottom:0px;">
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47" class="img-responsive"
              src="assets/images/ndtv-logo.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47" class="img-responsive"
              src="assets/images/times.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47" class="img-responsive"
              src="assets/images/indian.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47" class="img-responsive"
              src="assets/images/hindu.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47" class="img-responsive"
              src="assets/images/business-today.jpg" alt="Kanoonkibaat"></div>
          <div class="col-sm-2" style="padding:10px;"><img loading="lazy" width="170" height="47" class="img-responsive"
              src="assets/images/amar-ujala.jpg" alt="Kanoonkibaat"></div>
        </div>

      </center>
    </div>
  </section>
  <section class="text-center common-testimonial lightgrey-bg" style="margin-bottom:0px;">
    <div class="container">
      <h2><i class="fas fa-comments"></i>&nbsp;Customer Experiences</h2>
      <div>
        <div class="rq-testimonial-owl-slider">
          <div class="rq-listing-gallery-post">
            <div class="rq-gallery-content">
              <div class="details-slider owl-carousel">
                <div class="item">
                  <p style="font-size:16px;">"Within minutes of submitting my legal question on KanoonKiBaat's online
                    platform, I received detailed and expert responses from some of the top lawyers in the country. The
                    answers were quick, clear, and gave me a full understanding of the legal aspects surrounding my
                    concerns. It was nothing short of remarkable!"</p>
                  <p class="author"><a>Anna Swami</a></p>
                  <br /><br />
                </div>
                <div class="item">
                  <p style="font-size:16px;">"I was in a state of panic when a close family member was suddenly
                    arrested, and we needed urgent legal assistance for a bail matter. I didn’t know where to turn, but
                    then I found KanoonKiBaat. I quickly posted my query, hoping for a miracle. To my surprise, within
                    minutes, I was connected with a top Supreme Court lawyer who listened to my concerns and immediately
                    started working on the case. The speed and professionalism with which they handled everything was
                    nothing short of extraordinary. Thanks to KanoonKiBaat, we were able to get the bail granted
                    swiftly. I can’t thank them enough for their prompt and effective service during such a stressful
                    time."</p>
                  <p class="author"><a>Vishal Rathi</a></p>
                  <br /><br />
                </div>
                <div class="item">
                  <p style="font-size:16px;">"As an NRI living in the Spain, I was dealing with a property dispute back
                    in India. The legal complexities were overwhelming, and I wasn’t sure how to begin my search for
                    reliable lawyers. That’s when I turned to KanoonKiBaat. To my amazement, before I even landed in
                    India, they had already connected me with three highly-qualified lawyers specializing in property
                    law. Each lawyer provided valuable insights, and I felt completely supported throughout the process.
                    Not only did KanoonKiBaat’s quick service put my mind at ease, but the rankings and reviews they
                    provided also reassured me that I was in good hands. Today, I’m feeling much more confident about
                    the future of my case, and I truly believe that thanks to KanoonKiBaat, I’m on the right path to a
                    successful resolution."</p>
                  <p class="author"><a>Sonu Gupta</a></p>
                  <br /><br />
                </div>
                <div class="item">
                  <p style="font-size:16px;">"Finding a lawyer in Noida while sitting in Gurugram seemed like an
                    impossible task, especially for something as sensitive as my divorce case. However, my experience
                    with KanoonKiBaat completely changed that. Thanks to their incredibly dedicated team, I was quickly
                    connected with the right lawyer in Noida, despite being miles away. They guided me through every
                    step of the process, providing reassurance and expert advice along the way. What seemed like a
                    daunting task turned into a smooth and stress-free experience. I can honestly say that my journey
                    with KanoonKiBaat has been nothing short of highly satisfying, and I’m so grateful for their support
                    in helping me navigate this challenging situation."</p>
                  <p class="author"><a>Praveen Saini</a></p>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </section>
</div>
