<div id="main">
  <app-breadcrumb></app-breadcrumb>
  <section id="guide-detail" class="guide-detail two-cols">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1>Quality Legal Consultation from Top-Rated Lawyers</h1><br/>

          <app-question-box
            [questionList]="questionList"
            [totalResult]="totalResult"
            [currentPage]="currentPage"
            (updateQuestionList)="onPageChange($event)"></app-question-box>


        </div>
        <app-right-side-ad></app-right-side-ad>
      </div>
    </div>
  </section>
</div>
