<div id="main">
  <app-breadcrumb></app-breadcrumb>
  <div class="icon-bar">
    <!-- FAQ Tab -->
    <div class="tab faq-tab" (click)="openFAQModal()">
        <span>FAQ</span>
    </div>

    <!-- Call Tab -->
    <div class="tab call-tab" (click)="openCallModal()">
        <span>Call</span>
    </div>

    <!-- Judgment Tab -->
    <div class="tab judgment-tab">
        <span>Judgment</span>
    </div>
</div>
  <section id="guide-detail" class="guide-detail two-cols">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1>Quality Legal Consultation from Top-Rated Lawyers</h1><br/>

          <app-question-box
            [questionList]="questionList"
            [totalResult]="totalResult"
            [currentPage]="currentPage"
            (updateQuestionList)="onPageChange($event)"></app-question-box>
          <app-question-answers></app-question-answers>
            <app-faq [categoryID]="categoryId" [categoryName]="categoryName"></app-faq>

        </div>

        <app-right-side-ad></app-right-side-ad>

      </div>

    </div>
  </section>
</div>
