<div id="main">
 <app-breadcrumb></app-breadcrumb>

  <section id="guide-detail" class="guide-detail two-cols">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>About Us</h1>
          <br />
        </div>
        <br />
        <div class="col-sm-8">
          <div class="content-left">
            <div class="block-card">
              <div class="advice-form custom-form"><br/>
                <p>KanoonKiBaat.com is an interactive online platform that makes it faster and easier to find and hire Top
                  Rated&nbsp;Lawyers in any city / court in India, because you deserve access to first-rate,
                  professional legal advice from Top Rated&nbsp;Lawyers out there. We are on a mission to make the legal
                  experience remarkable by making legal services high quality, cost-effective and on-demand for every
                  need.</p>
                <p>We are not a law firm, do not provide any legal services, legal advice or &quot;Lawyer referral
                  services&quot; and do not provide or participate in any legal representation.<br />
                  <br />
                  <iframe frameborder="0" height="315" src="https://www.youtube.com/embed/Iq_ttjkisQk?si=S-Lw_Oe0VFEk9HmL"
                    width="100%"></iframe>
                </p>
                <h3><br />
                  <strong>Expert Legal advice &amp; help - When and How you need it.</strong>
                </h3>
                <p>KanoonKiBaat.com&nbsp;lists Top Rated&nbsp;Legal Experts in the country to help you get practical Legal
                  Advice &amp; help. We have experts across criminal defence, property dispute, family issues, corporate
                  law, IPR &amp; 20 other&nbsp;areas of expertise. Our listed Lawyers have practice&nbsp;across
                  700&nbsp;cities, and 3000&nbsp;courts across India, to help provide you the required advice &amp;
                  representation for your legal issues.</p>
                <h3><br />
                  <br />
                  <strong>Detailed Profiles for every listed Lawyer.</strong>
                </h3>
                <p>We believe that the right information helps you make better decisions. At KanoonKiBaat.com, we provide you
                  with detailed information on Lawyers, their areas of expertise, and their experience&nbsp;so that you
                  can make the choices that are right for you.</p>
                <h3><br />
                  <br />
                  <strong>Get advice &ndash; the way you want.</strong>
                </h3>
                <p>We make it easy to consult Top Rated&nbsp;Lawyers. Discuss&nbsp;your issue over an
                  email,&nbsp;schedule&nbsp;an office meeting, or consult&nbsp;with any of the listed Lawyers at your
                  home / office. We are ready to help you, as per your convenience.&nbsp;</p>
                <p>We also offer FREE&nbsp;ADVICE through the website, where lacs of&nbsp;people have already found the
                  right guidance for their needs.</p>
                <h3><br />
                  <br />
                  <strong>How it works?</strong>
                </h3>
                <p>Well, it&#39;s as easy as 1-2-3</p>
                <p>1. Search and Select the Lawyer based on your need &ndash; Search by Specialization, City or Court
                  Name.<br />
                  2. We share your contact and enquiry details with the selected lawyer and the lawyer&#39;s contact
                  details with you.<br />
                  3. Call / meet the lawyer and discuss your legal issue directly with the selected lawyer.<br />
                  &nbsp;</p>
                <h2><br />
                  <strong>Frequently Asked Questions</strong>
                </h2>
                <p><strong>What is KanoonKiBaat?</strong><br />
                  KanoonKiBaat is a legal portal for all your law-related needs! We are a curated online directory that
                  connects our network of Top Rated lawyers with b<a name="_GoBack"></a>usiness clients. We are a
                  one-stop platform to ask, answer, discuss legal questions, and from time to time, we even post legal
                  updates and news for those of you who can&rsquo;t get enough of law-related newsbytes!<br />
                  &nbsp;<br />
                  <strong>Is KanoonKiBaat a law firm?</strong><br />
                  KanoonKiBaat is not a law firm. The responses provided to the law-related queries are deliberately
                  bite-sized for easy comprehension and are in no means a full opinion. These should not be taken as
                  absolute and the lawyers posting these responses are only doing so out of goodwill and to provide
                  general public legal assistance. Please note that this does not create a client-lawyer relationship.
                  We inform all clients that the services we provide are not, and should never be, a substitute for
                  legal advice from a lawyer.<br />
                  &nbsp;<br />
                  By using KanoonKiBaat, the lawyers on our platform also do not advertise nor solicit business from
                  potential clients. In fact, what is unique about KanoonKiBaat is that clients themselves post their queries
                  or come with their cases on our platform looking for lawyers. Ultimately, the client determines who
                  he/she wishes to engage as his/her lawyer.<br />
                  &nbsp;<br />
                  <strong>What kinds of questions can I ask?</strong><br />
                  You can ask about anything related to your legal situation, such as questions about a specific
                  process, documents or forms related to your legal matter, or about the meaning of specific terms or
                  phrases. You can ask for advice, strategic coaching, or insight into possible outcomes. Advice
                  sessions and document review services are also a good way to get a second opinion about your legal
                  issue.<br />
                  &nbsp;<br />
                  <strong>How do I Search a lawyer?</strong><br />
                  If you are looking for a lawyer, you can start by clicking on&nbsp;<a
                    href="../../lawyers.html"><u>find a lawyer</u></a>&nbsp;at the top of the page. This will take you
                  to the Find a Lawyer page, where you can search based on ratings and reviews posted by other users,
                  expertise, location and a few other criteria like years of experience, gender, languages spoken, etc.
                  Expertise helps you find lawyers that are suitable for your requirement and location mentions where
                  they practice.<br />
                  &nbsp;<br />
                  <strong>How do I compare lawyers?</strong><br />
                  Lawyers on KanoonKiBaat platform complete a thorough profile about their education, background, and
                  practice for you to review.&nbsp;You might want to consider (1) how much experience the lawyer has;
                  and (2) whether the lawyer has a particular expertise in the exact problem you are encountering. But
                  selecting a lawyer is a very personal decision, so KanoonKiBaat tries to provide as much information as
                  possible about the lawyers in our network.<br />
                  &nbsp;<br />
                  <strong>How does KanoonKiBaat select the lawyers who appear on the shortlist I see?</strong><br />
                  KanoonKiBaat uses many objective factors such as the geography, practice specialty, ratings and reviews
                  posted by users,&nbsp;and your legal needs, as well as your expressed preferences to generate the list
                  of lawyers.<br />
                  &nbsp;<br />
                  <strong>How do I know if the lawyer I found is good for my needs and has the right skills and
                    experience?</strong><br />
                  We only work with highly qualified lawyers who are licensed to practice in your state. A
                  lawyer&rsquo;s profile has been designed in a concise yet informative way. Going through a
                  lawyer&rsquo;s profile can give you insights about his expertise and experience, making it easier for
                  you to make the right choice.<br />
                  &nbsp;<br />
                  <strong>What if I&rsquo;m not sure that I need to speak to a lawyer?</strong><br />
                  You can post preliminary questions about whether you need to speak with a lawyer in KanoonKiBaat&rsquo;s
                  free legal&nbsp;<a href="../../ask-a-free-question.html"><u>Q&amp;A Forum</u></a>.<br />
                  &nbsp;<br />
                  <strong>How can I keep my identity private while asking questions?</strong><br />
                  Your query and lawyer responses will be published on our website, without your details. We do NOT
                  publish your name or contact details. Lawyers who answer your query may contact you to discuss your
                  query in detail.<br />
                  &nbsp;<br />
                  <strong>When can I expect a reply to my question?</strong><br />
                  Lawyers on KanoonKiBaat have different and unique expertise. We work to serve your question to the right
                  lawyer for a quick and useful response. You can expect to get a response in 24 working hours after
                  posting your question. Lawyers on KanoonKiBaat are active and are passionate about helping you solve your
                  legal problems, meaning you won&rsquo;t have to wait very long to get answers.<br />
                  &nbsp;<br />
                  <strong>How can I find if my question was answered?</strong><br />
                  We will notify you by Email and SMS whenever your question receives an answer. If at any time you wish
                  to see the question you have posted, you can view My Questions tab in your account.<br />
                  &nbsp;&nbsp;<br />
                  <strong>When I use &ldquo;Talk to a Lawyer&quot; service, is that information private?</strong><br />
                  Yes. Your request is private. However, it is not a confidential communication between you and your
                  lawyer, and therefore is not covered by Attorney-Client privilege. This means you should not include
                  any information in your request that you would only feel comfortable sharing with the lawyer you end
                  up working with. Confidentiality matters, so please err on the side of caution when you fill out the
                  information to &ldquo;Talk to a Lawyer.&rdquo;<br />
                  &nbsp;<br />
                  <br />
                  <strong>KanoonKiBaat.com is a service by GLAPT Tech</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4" style="position: -webkit-sticky; position: sticky; top: 100px;">
          <div class="content-right">
            <a href="../../legal-enquiry.html">
              <div class="block-card blue-bg hidden-xs" style="position: -webkit-sticky; position: sticky; top: 100px;">
                <div class="row">
                  <center>
                    <img width="165" height="165" src="/assets/img/media/lawyer/empty.png" alt="KanoonKiBaat"
                      class="img-responsive">
                  </center>
                  <div class="solid text-left white-txt">
                    <b class="solid-title" style="color:#FFF !important;">Googling your legal issue
                      online?</b><br /><br />
                    <p class="lead" style="color:#FFF !important; font-size:16px;">The internet is not a lawyer and
                      neither are you.<br />Talk to a real lawyer about your legal issue.</p>
                    <div class="cta">
                      <button class="button button-default text-bold">FIND MY LAWYER NOW</button>
                    </div>
                  </div>
                </div>
              </div>
              <section class="list-result visible-xs" style="padding-bottom:0px;" style="cursor:pointer;">
                <br />
             <app-right-side-ad></app-right-side-ad>
              </section>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
