<div id="main">
  <app-breadcrumb></app-breadcrumb>
  <section id="guide-detail" class="guide-detail two-cols">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <h1>Search your Query</h1>
          <div class="input-group hidden-xs" style="margin-top:10px;float:left;">
            <center>
              <div style="margin-top:10px;margin-bottom: 18px;">
                <select [(ngModel)]="categoryId" (ngModelChange)="selectCategory($event)" name="cat"
                class="input-select form-control" id="cattid" style="width:300px;height:50px;">
                <option *ngIf="categoriesListCount.length > 0" value="0">All Categories</option>
                <option *ngFor="let category of categoriesListCount" [value]="category.categoryId">
                  {{ category.categoryName }}
                </option>
              </select>
              </div>
            </center>
          </div>
          <div class="input-group visible-xs" style="margin-top:10px;float:left;">
            <center>
              <div style="margin-top:10px;margin-bottom: 18px;">
                <select [(ngModel)]="categoryId" (ngModelChange)="selectCategory($event)" name="cat"
                class="input-select form-control" id="cattid" style="width:300px;height:50px;">
                <option *ngIf="categoriesListCount.length > 0" value="0">All Categories</option>
                <option *ngFor="let category of categoriesListCount" [value]="category.categoryId">
                  {{ category.categoryName }}
                </option>
              </select>
              </div>
            </center>
          </div>
          <div class="input-group" style="margin-top:28px;">
            <input type="text" class="input-text form-control" placeholder="Search Answers"
              [(ngModel)]="searchQuery" style="width:240px;margin-left: 10px;" />
            <span class="input-group-btn hidden-xs" style="float:left;">
              <button style="margin-left:10px;" type="submit" class="button button-primary"
                (click)="searchQuestions()"><img style="height:25px;"
                  src="/assets/images/svg/magnifying-glass.svg"> </button>

            </span>
            <span class="input-group-btn visible-xs" style="float:left;">
              <button type="submit" class="button button-primary" style="margin-left:10px;"> <img
                  style="height:35px; width:25px;" (click)="searchQuestions()" src="/assets/images/svg/magnifying-glass.svg"> </button>
            </span>
          </div>
<br/>

            <div class="question-box border-box" *ngFor="let content of contentList">
              <div class="question-title" style="background:#F2F2F2;">
                <div class="title title-smaller" style="padding-left:20px;">
                  <a [routerLink]="[content.content]">
                    <h2 [innerHTML]="content.pageName.split('-').join(' ')"></h2>
                  </a>
                </div>
              </div>
              <div class="question-body hidden-xs">
                <div><a [routerLink]="[content.content]"> <img style="float:left; margin-right:20px; "
                      [src]="content.featuredImage" class="fullwidth1" alt="">
                  </a></div>
                <div [innerHTML]="content.featuredText"></div>
                <p><a [routerLink]="[content.content]" class="button button-default">Read More</a></p>
              </div>
              <div class="question-body visible-xs">
                <div><a [routerLink]="[content.content]"> <img width="100%" [src]="content.featuredImage"
                      class="fullwidth1" alt="">
                  </a></div>
                <div [innerHTML]="content.featuredText"></div>
                <p><a [routerLink]="[content.content]" class="button button-default">Read More</a></p>
              </div>
            </div>
            <center>
              <ul class="pagination center pull-center">
                <li *ngIf="currentPage > 0">
                  <a (click)="changePage(currentPage - 1)">«</a>
                </li>
                <li *ngFor="let page of displayPages; let i = index" [class.active-page]="page === currentPage">
                  <a (click)="changePage(page)">{{ page + 1 }}</a>
                </li>
                <li *ngIf="currentPage < pages.length - 1">
                  <a (click)="changePage(currentPage + 1)">»</a>
                </li>
              </ul>
            </center>

          <section class="list-result visible-xs" style="padding-bottom:0px;" style="cursor:pointer;">
            <br />
            <div class="block-card blue-bg" style="border-radius:10px;">
              <div class="solid text-left white-txt">
                <div class="row">
                  <div class="col-xs-8">
                    <b class="solid-title" style="color:#FFF;">Googling your legal issue online?</b><br /><br />
                    <p class="lead">The internet is not a lawyer and neither are you.<br />Talk to a real lawyer about
                      your legal issue.</p>
                    <div class="cta">
                      <button class="button button-default text-bold" routerLink="/enquiry">TALK TO A LAWYER</button>
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="img-wrapper text-right">
                      <img src="/assets/img/media/lawyer/empty.png" alt="KanoonKiBaat" style="width:90px; height:90px;"
                        class="img-responsive">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <br />
        <app-right-side-ad></app-right-side-ad>
      </div>
    </div>
  </section>
</div>
