
<div class="question-box border-box visible-xs" *ngFor="let question of questionList; let i = index; trackBy: trackByFn">
  <div class="question-title" style="background:#F2F2F2;">
    <div class="icon-holder">
      <img src="/assets/img/sprite/symbol/question-title.png" alt="KanoonKiBaat">
    </div>
    <div class="title title-smaller">
      <a [routerLink]="['/question-answers', question.id]">
        <h2>{{ question.questionText }}</h2>
      </a>
    </div>
  </div>
  <div class="question-body">
    <div class="icon-list">
      <p>
        <i class="fas fa-user"></i> <span>Unknown User</span>
        <i class="fas fa-calendar-alt" style="margin-left: 20px;"></i> <span>02/02/2023</span>
        <i class="fas fa-comments" style="margin-left: 20px;"></i> <span>{{ question.totalResults }} Answers</span>
        <img src="/assets/img/gg.jpg" alt="Advocate Image" class="advocate-image">
        <img src="/assets/img/gg.jpg" alt="Advocate Image" class="advocate-image">
        <img src="/assets/img/gg.jpg" alt="Advocate Image" class="advocate-image">
      </p>
    </div>
    <p [innerHTML]="question.userQuestionText | sanitizeHtml"></p>
    <p>
      <a (click)="navigateToQuestion(question)" class="button button-primary">Read More</a>
    </p>
  </div>
</div>

<div class="question-box border-box hidden-xs" *ngFor="let question of questionList; let i = index; trackBy: trackByFn" style="margin-right:40px;">
  <div class="question-title" style="background:#F2F2F2;">
    <div class="icon-holder">
      <img src="/assets/img/sprite/symbol/question-title.png" alt="KanoonKiBaat">
    </div>
    <div class="title title-smaller">
      <a [routerLink]="['/question-answers', question.id]">
        <h2>{{ question.questionText }}</h2>
      </a>
    </div>
  </div>
  <div class="question-body">
    <div class="icon-list">
      <p>
        <i class="fas fa-user"></i> <span>Unknown User</span>
        <i class="fas fa-calendar-alt" style="margin-left: 20px;"></i> <span>02/02/2023</span>
        <i class="fas fa-comments" style="margin-left: 20px;"></i> <span>{{ question.totalResults }} Answers</span>
        <img src="/assets/img/gg.jpg" alt="Advocate Image" class="advocate-image">
        <img src="/assets/img/gg.jpg" alt="Advocate Image" class="advocate-image">
        <img src="/assets/img/gg.jpg" alt="Advocate Image" class="advocate-image">
      </p>
    </div>
    <p [innerHTML]="question.userQuestionText | sanitizeHtml"></p>
    <p>
      <a (click)="navigateToQuestion(question)" class="button button-primary">Read More</a>
    </p>
  </div>
</div>

<Center>
<div class="pagination-container">
  <ul class="pagination" style="text-align: center;">
    <li *ngIf="currentPage > 1">
      <a (click)="changePage(currentPage - 1)">«</a>
    </li>
    <li *ngFor="let page of displayPages; let i = index; trackBy: trackByFn"
        [class.active-page]="page === currentPage">
      <a (click)="changePage(page)">{{ page }}</a>
    </li>
    <li *ngIf="currentPage < pages.length">
      <a (click)="changePage(currentPage + 1)">»</a>
    </li>
  </ul>
</div>
</Center>
