<footer id="footer">
    <div class="footer-why border-top-default">
      <div class="container">
        <span style="font-weight:700; color:#333; font-size:30px; line-height:30px; margin-bottom:10px;">75,000 People
          Choose KanoonKiBaat Every Day</span>
        <hr class="fancy" />
        <div class="row">
          <div class="col-sm-4">
            <span style="font-weight:700; text-transform:uppercase; margin-bottom:10px;">10,000+ VERIFIED LAWYERS</span>
            <p>India's biggest lawyer network in 700+ cities across every area of law.</p>
          </div>
          <div class="col-sm-4">
            <span style="font-weight:700; text-transform:uppercase; margin-bottom:10px;">20,00,000 MONTHLY
              VISITORS</span>
            <p>More than 75,000 people visit KanoonKiBaat every day for legal help.</p>
          </div>
          <div class="col-sm-4">
            <span style="font-weight:700; text-transform:uppercase; margin-bottom:10px;">5,00,000 SATISFIED
              CLIENTS</span>
            <p>Get immediate advice & help from relevant lawyers in your city.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-menu">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <span
              style="font-size:16px; color:#fff; text-transform:uppercase; line-height:30px; font-weight:700; position:relative;">Lawyers
              in India</span>
            <ul class="list-unstyled">
              <li><a href="divorce-lawyers" title="Divorce Lawyers">Divorce Lawyers</a></li>
              <li><a href="property-lawyers" title="Property Lawyers">Property Lawyers</a></li>
              <li><a href="civil-lawyers" title="Civil Lawyers">Civil Lawyers</a></li>
              <li><a href="criminal-lawyers" title="Criminal Lawyers">Criminal Lawyers</a></li>
              <li><a href="family-lawyers" title="Family Dispute Lawyers">Family Lawyers</a></li>
              <li><a href="cheque-bounce-lawyers" title="Cheque Bounce Lawyers">Cheque Bounce Lawyers</a></li>
              <li><a href="labour-service-lawyers" title="Labour and Service Lawyers">Labour and Service
                  Lawyers</a></li>
              <li><a href="consumer-court-lawyers" title="Consumer Court Lawyers">Consumer Court</a></li>
              <li><a href="motor-accident-lawyers" title="Motor Accident Lawyers">Motor Accident Lawyers</a></li>
              <li><a href="supreme-court-lawyers" title="Supreme Court Lawyers">Supreme Court Lawyers</a></li>
              <li><a href="lawyers" title="Civil">VIEW All >></a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <span
              style="font-size:16px; color:#fff; text-transform:uppercase; line-height:30px; font-weight:700; position:relative;">Lawyers
              in India</span>
            <ul class="list-unstyled">
              <li><a href="lawyers/delhi" title="Lawyers in Delhi">Lawyers in Delhi</a></li>
              <li><a href="lawyers/bangalore" title="Lawyers in Bangalore">Lawyers in Bangalore</a></li>
              <li><a href="lawyers/mumbai" title="Lawyers in Mumbai">Lawyers in Mumbai</a></li>
              <li><a href="lawyers/chennai" title="Lawyers in Chennai">Lawyers in Chennai</a></li>
              <li><a href="lawyers/gurgaon" title="Lawyers in Gurgaon">Lawyers in Gurgaon</a></li>
              <li><a href="lawyers/noida" title="Lawyers in Noida">Lawyers in Noida</a></li>
              <li><a href="lawyers/jaipur" title="Lawyers in Jaipur">Lawyers in Jaipur</a></li>
              <li><a href="lawyers/chandigarh" title="Lawyers in Chandigarh">Lawyers in Chandigarh</a></li>
              <li><a href="lawyers/pune" title="Lawyers in Pune">Lawyers in Pune</a></li>
              <li><a href="lawyers/nagpur" title="Lawyers in Nagpur">Lawyers in Nagpur</a></li>
              <li><a href="lawyers" title>VIEW All >></a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <span
              style="font-size:16px; color:#fff; text-transform:uppercase; line-height:30px; font-weight:700; position:relative;">Legal
              Advice</span>
            <ul class="list-unstyled">
              <li><a href="divorce-legal-advice">Divorce Legal Advice</a></li>
              <li><a href="property-legal-advice">Property Legal Advice</a></li>
              <li><a href="criminal-legal-advice">Criminal Legal Advice</a></li>
              <li><a href="recovery-legal-advice">Recovery Legal Advice</a></li>

              <li><a href="consumer-court-legal-advice">Consumer Legal Advice</a></li>
              <li><a href="cheque-bounce-legal-advice">Cheque Bounce Legal Advice</a></li>
              <li><a href="indian-kanoon">Indian Kanoon</a></li>
              <li><a href="legal-documents">Legal Forms</a></li>
              <li><a href="legal-help-center">Legal Help Center</a></li>
              <li><a href="posh-training/index">Posh Training</a></li>
              <li><a href="free-legal-advice" title>VIEW All >></a></li>
            </ul>
          </div>
          <div class="col-sm-3">
            <span
              style="font-size:16px; color:#fff; text-transform:uppercase; line-height:30px; font-weight:700; position:relative;">Law
              Guides</span>
            <ul class="list-unstyled">

              <li><a href="indian-kanoon/law/ipc">BNS Sections</a></li>
              <li><a href="lawtv">Law Videos</a></li>
              <li><a href="indian-kanoon/law/ipc">IPC Sections</a></li>
              <li><a href="indian-kanoon/law/crpc">CrPC Sections</a></li>
              <li><a href="indian-kanoon/law/cpc">CPC Sections</a></li>
              <li><a href="indian-kanoon/law/hindu-marriage-act">Hindu Marriage Act</a></li>
              <li><a href="indian-kanoon/law/constitution-of-india">Constitution Of India</a></li>
              <li><a href="indian-kanoon/guides/divorce">Divorce Law</a></li>
              <li><a href="indian-kanoon/guides/property">Property Law</a></li>
              <li><a href="indian-kanoon/guides/criminal">Criminal Law</a></li>

              <li><a href="indian-kanoon/guides" title>VIEW All >></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <div class="container">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-9">
              <ul class="list-inline">
                <li><a href="about">About Us</a></li>
                <li><a href="terms-of-use">Terms of Use</a></li>
                <li><a href="privacy-policy">Privacy Policy</a></li>
                <li style="display:none;"><a href="criminal-lawyers-sitemap.xml">Criminal Lawyers</a></li>
                <li style="display:none;"><a href="civil-lawyers-sitemap.xml">Civil Lawyers</a></li>
              </ul>
            </div>
            <div class="col-sm-3">
              <ul class="list-inline social-links">
                <li><a target="_blank" href="https://www.facebook.com/KanoonKiBaat"><span
                      class="fa fa-facebook"></span></a></li>
                <li><a target="_blank" href="https://twitter.com/KanoonKiBaat"><span class="fa fa-twitter"></span></a>
                </li>
                <li><a target="_blank" href="https://www.linkedin.com/company/KanoonKiBaat-com"><span
                      class="fa fa-linkedin"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-nav">
      <div class="container">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-3 col-xs-12">
              <ul class="list-inline">
                <li><a href="contact">Contact Us</a></li>
                <div class="clearfix"></div>
                <li><a href="lawyer-signup">Lawyer Signup</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-xs-12">
              <ul class="list-inline">
                <li><a href="free-legal-advice">Free Legal Advice</a></li>
                <div class="clearfix"></div>
                <li><a href="ask-a-free-question">Ask a Free Question</a></li>
                <div class="clearfix"></div>
                <li><a href="free-legal-advice-phone">Talk to a Lawyer</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-xs-12">
              <ul class="list-inline social-links">
                <li>
                  <div align="center">
                    <a href="nalsa">
                      <img loading="lazy" width="360" height="70" src="assets/img/logo_nalsa.png" alt="KanoonKiBaat"
                        class="nalsa-logo-footer hidden-xs" />
                      <img loading="lazy" width="217" height="44" src="assets/img/logo_nalsa.png" alt="KanoonKiBaat"
                        class="nalsa-logo-footer visible-xs" />
                      <div>
                        <p style="color:white;">Apply for Free Legal Aid<br />A Pro-bono initiative of KanoonKiBaat in
                          association with NALSA</p>
                      </div>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="content-wrapper">
          The information presented on KanoonKiBaat.com is provided "AS IS," in accordance with our <a
            style="color:#FFFFFF;" href="cmses/page/terms-of-use">Terms of Use</a> and <a style="color:#FFFFFF;"
            href="cmses/page/privacy-policy">Privacy Policy</a>. This information is available at your request for
          informational purposes only and should not be considered as solicitation or advertising. Users facing legal
          issues should always seek independent legal counsel. The ratings for advocates on KanoonKiBaat.com reflect
          user feedback and do not serve as endorsements for engaging or consulting any lawyer. KanoonKiBaat does not
          ensure the accuracy, adequacy, or completeness of the information provided and is not liable for any errors,
          omissions, or outcomes resulting from the use of this information.<br /><br /><span
            style="color:white;">KanoonKiBaat.com and the KanoonKiBaat Logo are registered trademarks of GlaptTech. All
            rights reserved.</span>
        </div>
      </div>
    </div>
  </footer>
