<!-- Modal for FAQ content -->
<div class="modal" *ngIf="isAnswerModalOpen">
  <div class="modal-content">
   <!-- Modal Title -->
   <h2 class="text-center">
    {{ questionList.length > 0 ? questionList[0].questionText : '' }} <span class="close" (click)="closeAnswerModal()">&times;</span>
  </h2>

<div id="main"  *ngIf="questionList.length > 0">
  <section id="guide-detail" class="guide-detail two-cols">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="question">

            <div class="question-meta" style="padding-top:10pt">
              31-May-2023 
            </div>
            <div class="question-content" [innerHTML]="questionList[0].userQuestionText">
            </div>
          </div>

          <div class="answers">
            <div class="answers-title">
              Answers ({{ answerList.length }})
            </div>
            <div class="timeline">
              <div class="timeline-item" *ngFor="let answer of answerList; let i = index">
                <div class="card">
                  <div class="answer-meta">
                    Answer #{{ answer.answerOrder }}
                  </div>
                  <div class="advocate-info">
                    <img alt="Advocate Image" height="50" src="/assets/img/adv_avtar.png" width="50" />
                    <div>
                      <div class="advocate-name">
                        {{ randomAdvocateName() }}
                        <span class="advocate-exp">
                          (Exp: 5+ years)
                        </span>
                      </div>
                      <div class="advocate-city">
                       Delhi
                      </div>
                    </div>
                  </div>
                  <div class="answer-content" [innerHTML]="answer.answerText">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
  </div></div>
