/* app.component.css */
.container {

  margin-top: 30px;
}

.text-danger {
  font-size: 12px;
  color: red;
}

button {
  margin-top: 10px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

/* Change color when checked */
input[type="checkbox"]:checked {
  background-color: #000000;
  border-color: #000000;
}

/* Use an SVG for the checkmark */
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 12px;
  height: 12px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zY3JlZW5zY3FwIj4KPHBhdGggZD0iTTEyLjUsMi41Yy0yLjcsMC00LjgsMi43LTQuOCw1LjgsMCAyLjcsMi40LDUuOCw1LjgsNS44QzYuMyw2LjQsNi42LDEuOCw2LjUsMUM5LjQsMTEuOCwxMCw5LDEuOCw5TDExLDEzLjJDNjgsMTQuOCw1LDEzLjQsMiwxMy4yTDAsMi41eiIvPjwvc3ZnPg==');
  background-size: cover;
}
.faq-title i
{
  color:white !important;}
  .faq-item .faq-title
{
  color:white !important;
  background-color: #393737!important;
  font-weight: bold!important;
  min-height: 40px!important;;
  padding: 10px 10px!important;;
}
/* Add the caret icon to the FAQ title */
.faq-title::after {
  background-image: none!important;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}


.faq-item.active .faq-title::after {
  content: "\f106";
  background-image: none!important;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.faq-content p
{
  color: #000000!important;
  text-align: justify!important;
}
.masonry-layout .masonry-item {
  margin-bottom: 20px!important;
}

.col-md-4 {
  background-color: #cccecf;
  padding: 20px;
  border-radius: 8px;
}
.row .col-md-4
{
background-color: white!important;
}
.col-md-4 i {
  color: #000000;
}

.col-md-4 h3 {
  color: #333;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 15px;
}
.text-center h3
{
  margin-bottom: 0px!important;
}

.col-md-4 p {
  color: #333;
  font-size: 1.2rem;
  text-align: justify;
}
.step {
  margin-bottom: 20px;
}

.step i {
  color: #000000; /* Icon color */
}

h3 {
  font-size: 1.2rem;
  color: #343a40;
  margin-top: 10px;
}

p {
  font-size: 1.5rem;
  color: #6c757d;
  margin-top: 10px;
}


mat-form-field .mat-input-element {
  padding-top: 16px;
  padding-bottom: 16px;
  width:400px!important;
}
mat-form-field .mat-input-element.textarea
{
  width:780px!important;

}
form{
  line-height: 35px!important;
}
mat-error
{
  white-space: nowrap !important;
  padding-left: 0px!important;
  margin-left: 0px!important;
  padding: 0 0px!important;

}
mat-form-field
{
  padding: 0 0px!important;
}
.mat-mdc-form-field-error-wrapper
{
  padding: 0px!important;
  padding: 0 0px!important;
}
